
<div class="col-md-12 no-padding" view-id="${register_view('Competency group','pages/competencyDictionary')}">
    <collapse-box class="zb-datatable" 
                  title="${get_res('List_Competency_Group','Danh sách nhóm năng lực')}">     
        <div class="col-md-12 no-padding" style="height: 220px;">
            <tree-table data-source="$$tableTree.dataTableTree" data-fields="$$tableTree.tableFields"
                    display-field="com_group_name"
                    display-name="${get_res('kpi_group_name_table','Tên nhóm')}"
                    parent-field="parent_code" key-field="com_group_code" 
                    multi-select="$$tableTree.treeMultiSelect" select-mode="$$tableTree.treeSelectMode"
                    on-select="$$tableTree.selectTreeNode"
                    current-node="$$tableTree.treeCurrentNode"
                    selected-nodes="$$tableTree.treeSelectedNodes"
                    selected-root-nodes="$$tableTree.treeSelectedRootNodes"
                    search-text="$$tableTree.treeSearchText"
                    checked-field="is_selected"
                    disabled="$$tableTree.treeDisabled"/>
        </div>
    </collapse-box>
</div>
<script>
    <%include file="scripts/CompetencyGroup.js"/>
</script>
