<style>
.hcs-search-function-list>p{
    background:#F7F7F7; 
    color:#01638f;
    font-size: 18px;
    height: 40px;
    margin-bottom: unset;
    padding: 7px 0px 0px 12px;
}
.hcs-search-function-list>.zb-list-view>a:hover {
    cursor:pointer;
}
</style>
<div class="modal-dialog" style="width:30%;">
    <div class="modal-content">
        <div class="modal-header">
            <div class="left-content pull-left">
                <span class="modal-title">{{$parent.searchFunctionTitle}}</span>
            </div>
            <div class="right-content pull-right">
                <button type="button" ng-click="onClose()" class="close" data-dismiss="modal"><i class="bowtie-icon bowtie-navigate-close"></i></button>
            </div>
        </div>
        <div class="modal-body">
            <div style="margin:5px;">
                <input-text-icon id="hcs-search-function" icon="bowtie-icon bowtie-search" ng-model="search"></input-text-icon>
            </div>
            <div style="overflow:auto; height:calc(100% - 40px); border-top:1px solid">
                <div class="hcs-search-function-list" ng-repeat="function in $parent.$functions | $filterFunction : search">
                    <p>
                        {{function.default_name}}
                    </p>
                    <div class ="zb-list-view">
                        <a ng-repeat="child in function.child_items | filter : search" class ="list-group-item" ng-click="redirectPage(child)" ng-if="child.custom_name != ''">
                            {{child.custom_name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="right-content pull-right">
                <button ng-click="close()"><i class="fa fa-ban"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($scope) {
        $scope.search = "";
        $scope.close = function () {
            $dialog.closeDialog();
        }
        $scope.redirectPage = function (child) {
            console.log(child);
            if (child.url.trim()) {
                $scope.$root.currentModule = _.filter($scope.$root.$functions, function (d) {
                    return d["function_id"] == child.parent_id;
                })[0];//.custom_name.replace("/", " ");
                $scope.$root.currentFunction = child;
            }
            location.href = '#page=' + child.function_id;
            $dialog.closeAllDialog();
        }
    });
</script>