<%!
    #_style="width:300px;"
    _height=";overflow-x:hidden"
%>﻿
<%inherit file="../../commons/dialog_save.html"/>
<%block name="modal_body">
    <style>
    .hcs-modal-format,.hcs-modal-format .dataTables_wrapper.form-inline.dt-bootstrap.no-footer,
    .hcs-modal-format .dataTables_wrapper.form-inline.dt-bootstrap.no-footer .row:nth-child(2),
    .hcs-modal-format .dataTables_wrapper.form-inline.dt-bootstrap.no-footer .row:nth-child(2) [class^="col-"],
    .hcs-modal-format .dataTables_wrapper.form-inline.dt-bootstrap.no-footer .row:nth-child(2) [class^="col-"] .dataTables_scroll{
        height:100%;
    }
    .hcs-modal-format .dataTables_scrollBody{
        height:calc(100% - 35px) !important;
        max-height:{{maxHeightTableScrollDialog}}
    }
    .hcs-modal-format .zb-content{
        height:calc(100% - 60px);
    }

    </style>
    <div class="hcs-modal-format">
                <div class="col-xs-12 col-md-12 col-sm-12" style="height:13%">
                        <collapse-box class="zb-form-common" title="${get_res('template_info','Thông tin template')}">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group zb-form-group">
                                    <!--Mã template-->
                                    <label for="inputTemplateCode" class="col-xs-5 col-sm-5 zb-form-label">${get_res('template_code','Mã template')}</label>
                                    <div class="col-xs-7 col-sm-7">
                                        <input-text id="inputTemplateCode" ng-model="entity.template_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group zb-form-group">
                                    <!--Tên template-->
                                    <label for="inputTemplateName" class="col-xs-5 col-sm-5 zb-form-label">${get_res('template_name','Tên template')}</label>
                                    <div class="col-xs-7 col-sm-7">
                                        <input-text id="inputTemplateName" ng-model="entity.template_name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group zb-form-group">
                                    <!--Là template mặc định-->
                                    <label for="inputTemplateName" class="col-xs-5 col-sm-5 zb-form-label">${get_res('is_default','Là template mặc định')}</label>
                                    <div class="col-xs-7 col-sm-7">
                                        <input-checkbox ng-model="entity.is_default"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group zb-form-group">
                                    <!--Tên bảng dữ liệu-->
                                    <label for="inputViewName" class="col-xs-5 col-sm-5 zb-form-label">${get_res('view_name','Tên bảng dữ liệu')}</label>
                                    <div class="col-xs-7 col-sm-7">
                                        <input-text id="inputViewName" ng-model="entity.view_name">
                                    </div>
                                </div>
                            </div>
                        </collapse-box>
                    </div>
                <div class="col-xs-12 col-md-12" style="height:87%">
                    <collapse-box class="zb-form-common" title="${get_res('list_selected_fields','Danh sách các trường được chọn')}" style="height: 100%;">
                        <toolbar>
                            <input-text-icon icon="bowtie-icon bowtie-search"
                                                    on-click="onSearch"></input-text-icon>
                            <button class="zb-btn zb-btn-o-green" ng-click="addDetail()">
                                <i class="bowtie-icon bowtie-math-plus"></i>
                            </button>
                            <button class="zb-btn zb-btn-o-blue" ng-click="onEdit()">
                                <i class="bowtie-icon bowtie-edit-outline"></i>
                            </button>
                            <button class="zb-btn zb-btn-o-red">
                                <i class="bowtie-icon bowtie-edit-remove"></i>
                            </button>
                        </toolbar>
                        <div id="collapseDialogTemplateDetailList" style="height: 100%;">
                             <table-data data-source="tableListUserSource"
                                         fields="tableListUserFields"
                                         type="MultiSelect"
                                         paging="true"
                                         page-length="100"
                                         server-side="true"
                                         press-enter="onSelectTableRow"
                                         selected-items="selectedListUserItems"
                                         current-item="ListUserCurrentItem"
                                         search-text="tableSearchText"
                                         refresh-row="refreshDataListUserRow">
                            </table-data>
                        </div>
                    </collapse-box>
                </div>
            </div>
</%block>
<%block name="modal_script">
    <script>
        <%include file="../scripts/addTemplate.js"/>
    </script>
</%block>