
<%!
    #_style="width:300px;"
%>
<%inherit file="../commons/dialog_save_close_resize.html"/>

<%block name="modal_body">
<div class="col-md-{{col_group}} col-sm-{{col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
            <div class="col-md-{{col}}">
            <div class="form-group zb-form-group">
                <!--Mã yếu tố-->
                <label class="col-sm-5 zb-form-label">${get_res('course_code','Mã khóa')}</label>
                <div class="col-sm-7">
                    <input-text ng-model="entity.course_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                </div>
            </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên yếu tố-->
                    <label class="col-sm-5 zb-form-label">${get_res('course_name','Tên khóa')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.course_name">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Thuộc nhóm-->
                    <label class="col-sm-5 zb-form-label">${get_res('train_group_code','Nhóm đào tạo')}</label>
                    <div class="col-sm-7">
                        <tree-combobox
                                            load-data="$root.$getComboboxData"
                                            ng-model="entity.train_group_code"
                                            placeholder=""
                                            init-data="$$$cbb_course_group.value"
                                            caption-field="{{$$$cbb_course_group.caption_field}}"
                                            key-field="{{$$$cbb_course_group.value_field}}"
                                            parent-field="{{$$$cbb_course_group.parent_field}}"
                                            on-accept=""
                                            multi-select="false"
                                            params="{key:'${encryptor.get_key('cbb_course_group')}', value:[{ '@lock': true }]}"
                                            required>
                        </tree-combobox>
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên quốc gia-->
                    <label class="col-sm-5 zb-form-label">${get_res('profession_code','Ngành nghề')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                            ng-model="entity.profession_code"
                            params="{key:'${encryptor.get_key('cbb_train_profession')}', value:[{ '@lock': true }]}"
                            on-search-change="false"
                            on-search-press="true"
                            placeholder=""
                            init-data="$$$cbb_train_profession.value"
                            caption-field="{{$$$cbb_train_profession.caption_field}}"
                            paging="true"
                            close-on-select="true"
                            template-fields="$$$cbb_train_profession.display_fields"
                            reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên quốc gia-->
                    <label class="col-sm-5 zb-form-label">${get_res('field_code','Lĩnh vực đào tạo')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                            ng-model="entity.field_code"
                            params="{key:'${encryptor.get_key('cbb_train_field')}', value:[{ '@lock': true }]}"
                            on-search-change="false"
                            on-search-press="true"
                            placeholder=""
                            init-data="$$$cbb_train_field.value"
                            caption-field="{{$$$cbb_train_field.caption_field}}"
                            paging="true"
                            close-on-select="true"
                            template-fields="$$$cbb_train_field.display_fields"
                            reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên khác-->
                            <label for="inputEmp_Kind" class="col-sm-5 zb-form-label">${get_res('kind','Phương thức')}</label>
                            <div class="col-sm-7">
                                <input-select data-list="cbbListKind"
                                              ng-model="entity.kind"
                                              data-value="value"
                                              data-caption="caption"/>
                            </div>
                        </div>
            </div>
            <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên khác-->
                            <label class="col-sm-5 zb-form-label">${get_res('periodic','Định kỳ')}</label>
                            <div class="col-sm-7">
                                <input-select data-list="cbbListPeriodic"
                                              ng-model="entity.periodic"
                                              data-value="value"
                                              data-caption="caption"/>
                            </div>
                        </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Trọng số-->
                    <label class="col-sm-5 zb-form-label">${get_res('number_month','Số tháng định kỳ')}</label>
                    <div class="col-sm-7">
                        <input-number ng-model="entity.number_month">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Trọng số-->
                    <label class="col-sm-5 zb-form-label">${get_res('after_month_work','Thâm niên làm việc')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.after_month_work">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Áp dụng toàn công ty-->
                    <label class="col-sm-5 zb-form-label">${get_res('lock ','Ngưng sử dụng')}</label>
                    <div class="col-sm-7">
                        <input-checkbox ng-model="entity.lock">
                    </div>
                </div>
            </div>
    </collapse-box>
</div>
<div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('course_content','Nội dung')}">
        <div class="col-sm-12">
            <!--Ghi chú-->
            <div class="form-group zb-form-group">
                <div class="col-sm-12 no-padding">
                    <input-textarea rows="3" ng-model="entity.course_content"></input-textarea>
                </div>
            </div>
        </div>
        <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                     <label class="col-sm-5 zb-form-label">${get_res('learner_min','Học viên tối thiểu')}</label>
                     <div class="col-sm-7" style="display:grid; grid-auto-columns:auto auto auto">
                         <div style="grid-area: 1 / 1 / 2 / 2;">
                            <input-number ng-model="entity.learner_min">
                         </div>
                         <div style="grid-area: 1 / 2 / 2 / 3;">
                             <label class="zb-form-label" style="margin:0 5px;">${get_res('learner_max','Tối đa')}</label>
                         </div>
                         <div style="grid-area: 1 / 3 / 2 / 4;">
                             <input-number ng-model="entity.learner_max">
                         </div>
                     </div>
                 </div>
        </div>
        <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên yếu tố-->
                    <label class="col-sm-5 zb-form-label">${get_res('train_hours_1','Thời lượng (giờ)')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.train_hours">
                    </div>
                </div>
            </div>
        <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên quốc gia-->
                    <label class="col-sm-5 zb-form-label">${get_res('train_supplier_code','Đơn vị đào tạo')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                            ng-model="entity.supplier_code"
                            params="{key:'${encryptor.get_key('cbb_train_supplier')}', value:[{ '@lock': true }]}"
                            on-search-change="false"
                            on-search-press="true"
                            placeholder=""
                            init-data="$$$cbb_train_supplier.value"
                            caption-field="{{$$$cbb_train_supplier.caption_field}}"
                            paging="true"
                            close-on-select="true"
                            template-fields="$$$cbb_train_supplier.display_fields"
                            reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
        <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên quốc gia-->
                    <label class="col-sm-5 zb-form-label">${get_res('room_code','Phòng')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                            ng-model="entity.room_code"
                            params="{key:'${encryptor.get_key('cbb_train_room')}', value:[{ '@lock': true }]}"
                            on-search-change="false"
                            on-search-press="true"
                            placeholder=""
                            init-data="$$$cbb_train_room.value"
                            caption-field="{{$$$cbb_train_room.caption_field}}"
                            paging="true"
                            close-on-select="true"
                            template-fields="$$$cbb_train_room.display_fields"
                            reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
        <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên khác-->
                            <label class="col-sm-5 zb-form-label">${get_res('activity_task','Hoạt động đào tạo')}</label>
                            <div class="col-sm-7">
                                <input-select data-list="cbbListKind"
                                              ng-model="entity.kind"
                                              data-value="value"
                                              data-caption="caption"/>
                            </div>
                        </div>
                    </div>
        <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên quốc gia-->
                    <label class="col-sm-5 zb-form-label">${get_res('certificate_form','Mẫu chứng chỉ')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                            ng-model="entity.certificate_form"
                            params="{key:'${encryptor.get_key('cbb_train_cer')}', value:[{ '@lock': true }]}"
                            on-search-change="false"
                            on-search-press="true"
                            placeholder=""
                            init-data="$$$cbb_train_cer.value"
                            caption-field="{{$$$cbb_train_cer.caption_field}}"
                            paging="true"
                            close-on-select="true"
                            template-fields="$$$cbb_train_cer.display_fields"
                            reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
        <div class="col-md-12" style="padding-top: 16px;">
            <div class="form-group zb-form-group">
                <label for="DisplayInfo" class="col-sm-4 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                <div class="col-sm-8">
                    <input-text value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                </div>
            </div>
        </div>
    </collapse-box>
</div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        var __default = {
            course_code: null,
            course_name: null,
            course_name2: null,
            course_content: null,
            train_group_code: scope.$parent.$$tree.treeCurrentNode.train_group_code,
            profession_code: null,
            field_code: null,
            method: null,
            periodic: null,
            number_month: null,
            learner_min: null,
            learner_max: null,
            train_hours: null,
            supplier_code: null,
            room_code: null,
            activity_task: null,
            certificate_form: null,
            after_month_work: null,
            note: null,
            ordinal: null,
            lock: false,
            created_on: null,
            created_by: null,
            modified_on: null,
            modified_by: null
        };
        scope.__mode = scope.$parent.mode;
        scope.title = scope.$parent.headerTitle;
        scope.col = 12;
        scope.col_group = 6;
        scope.entity = scope.__mode == 2 ? JSON.parse(JSON.stringify(scope.$parent.$$table.currentItem)) : __default;

        scope.onResizeDialog = onResizeDialog;
        //Nút lưu và thêm
        scope.saveNNext = saveNNext;
        //Nút lưu
        scope.saveNClose = saveNClose;

        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }

        function saveNClose() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            reloadData();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
        debugger
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            reloadData();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                        scope.$parent.$apply();
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            }
        }

        function editData(callback) {
            var url = getUrl();
            if (scope.__mode == 3) {

            }
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {

        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.HCSLS_TrainLsCourse/insert')}" /*Mode 1: Tạo mới*/
                : "${get_api_key('app_main.api.HCSLS_TrainLsCourse/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$table.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
                tableConfig.iPageLength, tableConfig.orderBy,
                tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.course_code);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('course_code_is_not_null','Mã khóa đào tạo không được để trống')}" + '\n' : "";
            if (rs.result === true) {
                return rs;
            }
            return rs;
        }

        (function _getDataInitCombobox() {
        debugger
            scope.$root.$getInitComboboxData(scope,
                [
                    {
                        "key": "${encryptor.get_key('cbb_course_group')}",
                        "code": scope.entity
                            && scope.entity.hasOwnProperty('train_group_code')
                            ? scope.entity.train_group_code
                            : null,
                        "alias": "$$$cbb_course_group"
                    },
                    {
                            "key": "${encryptor.get_key('cbb_train_profession')}",
                            "code": scope.entity
                                && scope.entity.hasOwnProperty('profession_code')
                                ? scope.entity.profession_code
                                : null,
                            "alias": "$$$cbb_train_profession"
                    },
                    {
                            "key": "${encryptor.get_key('cbb_train_field')}",
                            "code": scope.entity
                                && scope.entity.hasOwnProperty('field_code')
                                ? scope.entity.field_code
                                : null,
                            "alias": "$$$cbb_train_field"
                    },
                    {
                            "key": "${encryptor.get_key('cbb_train_supplier')}",
                            "code": scope.entity
                                && scope.entity.hasOwnProperty('supplier_code')
                                ? scope.entity.supplier_code
                                : null,
                            "alias": "$$$cbb_train_supplier"
                    },
                    {
                            "key": "${encryptor.get_key('cbb_train_room')}",
                            "code": scope.entity
                                && scope.entity.hasOwnProperty('room_code')
                                ? scope.entity.room_code
                                : null,
                            "alias": "$$$cbb_train_room"
                    },
                    {
                            "key": "${encryptor.get_key('cbb_train_cer')}",
                            "code": scope.entity
                                && scope.entity.hasOwnProperty('cer_code')
                                ? scope.entity.cer_code
                                : null,
                            "alias": "$$$cbb_train_cer"
                    },
                ]);
        })();
        function _comboboxData() {
            services.api("${get_api_key('app_main.api.SYS_ValueList/get_list')}")
                .data({
                    //parameter at here
                    "name": [
                        "LPeriodic",
                        "LKind"
                        //"LQuitJobType"
                    ]
                })
                .done()
                .then(function (res) {
                    delete res.language;
                    delete res.list_name;
                    //scope.cbbEmployeeType = getValue(res.values, "LQuitJobType");
                    scope.cbbListPeriodic = getValue(res.values, "LPeriodic");
                    scope.cbbListKind = getValue(res.values, "LKind");
                    console.log(res);
                    scope.$applyAsync();
                    function getValue(response, listName) {
                        return _.findWhere(response, { "list_name": listName }) ? _.findWhere(response, { "list_name": listName }).values : [];
                    }
                })
        }
        _comboboxData();
    });

</script>

</%block>