<div title="{{getTitle()}}">
    <div class="row">
    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    		<span>${get_app_res("Code")}</span>
    	</div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <input type="text"class="form-control" ng-model="data.code">
        </div>
    </div>
    <div class="row">
    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    		<span>${get_app_res("Name")}</span>
    	</div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <input type="text"class="form-control" ng-model="data.name">
        </div>
    </div>
    ${self.body()}
    <div class="row">
    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    		<span>${get_app_res("Description")}</span>
    	</div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <textarea class="form-control" ng-model="data.description"></textarea>

        </div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		&nbsp;
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group">

                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="doUpdate()">${get_app_res("Update")}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="$doClose()">${get_app_res("Close")}</button>
                </div>
            </div>
    	</div>
    </div>
</div>
<script>
    (function(s,params){

        s.data={};

        s.doLoadData=function(){
            s.$parent.$ws.api('${get_api_key("api.categories/get_item")}')
            .data({
                source:params.source,
                code:params.item.code
            }).done()
            .then(function(res){
                s.data=res;
                s.$applyAsync();

            });
        };
        if(params.item){
            s.doLoadData();
        }
        s.doUpdate=function(){
            if(!params.item){
                s.$parent.doAddNew(s.data);
            }
            else {
                s.$parent.doUpdate(s.data);
            }

        }
    });
</script>