<!--$parent.mapName[0].function_id: function_id chức năng của tab hiện tại index tăng dần theo thứ tự các tab-->
<style>
    .zb-content.hcs-res-content-mobile {
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<div class="tab-pane" style="padding-right:unset; height: 100%; padding-left:15px; padding-top:15px;">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <%include file = "province.html" />
            <%include file = "district.html" />
        </div>
        <div class="col-xs-12 col-md-6">
            <%include file = "ward.html" />
            <%include file = "hamlet.html" />
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    <%include file = "./scripts/administrativesubdivisions.js" />
</script>