<div class="tab-pane" style="padding-right:unset; height: 100%; overflow-y:hidden; overflow:auto; background-color:#fff;">
	 <div class="col-xs-12 col-md-6">
         <collapse-box class="zb-form-common" title="${get_res('unit_list','Danh sách đơn vị tính')}">
             <toolbar>
                <button ng-click="onAdd()" class="zb-btn zb-btn-o-green">
                    <i class="bowtie-icon bowtie-math-plus"></i>
                </button>
                <button ng-click="onDelete()" class="zb-btn zb-btn-o-red">
                    <i class="bowtie-icon bowtie-trash"></i>
                </button>
                <button ng-click="onRefresh()" class="zb-btn zb-btn-o-purple">
                    <i class="bowtie-icon bowtie-navigate-refresh"></i>
                </button>
            </toolbar>
             <table-data data-source="tableSource" fields="tableFields" type="MultiSelect"
                         paging="true" page-length="100" server-side="true"
                         press-enter="onSelectTableRow" selected-items="selectedItems"
                         current-item="currentItem" search-text="tableSearchText"
                         refresh-row="refreshDataRow"
                         selected-field="">

             </table-data>
         </collapse-box>
     </div>
     <div class="col-xs-12 col-md-6 hcs-format">
        <collapse-box class="zb-form-common" title="${get_res('unit_detail','Chi tiết đơn vị tính')}">
            <toolbar>
                <button ng-click="onSave()" class="zb-btn zb-btn-o-red">
                    <i class="bowtie-icon bowtie-save"></i>
                </button>
                <button ng-click="onDeleteOne()" class="zb-btn zb-btn-o-red">
                    <i class="bowtie-icon bowtie-trash"></i>
                </button>
            </toolbar>
            <div class="col-xs-12 col-md-12" style="padding-bottom:20px">
                <div class="form-group zb-form-group">
                     <!--Mã loại NV-->
                     <label for="inputUnit_Code" class="col-xs-4 col-sm-4 zb-form-label">${get_res('unit_code','Mã đơn vị tính')}</label>
                     <div class="col-xs-3 col-sm-3">
                         <input-text id="inputCurrency_Code" ng-model="entity.unit_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                     </div>

                     <!--Thứ tự-->
                    <label for="inputOrdinal" class="col-xs-3 col-sm-3 zb-form-label" style="padding-left:40px">${get_res('ordinal','Thứ tự')}</label>
                    <div class="col-xs-2 col-sm-2">
                        <input-number id="inputOrdinal" ng-model="entity.ordinal">
                    </div>
                </div>

                <div class="form-group zb-form-group">
                <!--Tên loại NV-->
                <label for="inputUnit_Name" class="col-xs-4 col-sm-4 zb-form-label">${get_res('unit_name','Tên đơn vị tính')}</label>
                <div class="col-xs-8 col-sm-8">
                    <input-text id="inputUnit_Name" ng-model="entity.unit_name" required>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <!--Tên khác-->
                <label for="inputUnit_Name2" class="col-xs-4 col-sm-4 zb-form-label">${get_res('unit_name2','Tên khác')}</label>
                <div class="col-xs-8 col-sm-8">
                    <input-text id="inputUnit_Name2" ng-model="entity.unit_name2">
                </div>
            </div>
            <div class="form-group zb-form-group">
                <!--Ghi chú-->
                <label for="inputNote" class="col-xs-4 col-sm-4 zb-form-label">${get_res('note','Ghi chú')}</label>
                <div class="col-xs-8 col-sm-8">
                    <input-text id="inputNote" ng-model="entity.note">
                </div>
            </div>
               <div class="form-group zb-form-group">
                   <!--Thiết lập mặc định-->
                   <label for="inputIs_Default" class="col-xs-4 col-sm-4 zb-form-label">${get_res('is_default','Thiết lập mặc định')}</label>
                   <div class="col-xs-3 col-sm-3">
                       <input-checkbox id="inputIsDefault" ng-model="entity.is_default" ng-change="checkIsDefault()">
                   </div>
                   <!--Ngưng sử dụng-->
                   <label for="inputLock" class="col-xs-3 col-sm-3 zb-form-label" style="padding-left:40px">${get_res('lock','Ngưng sử dụng')}</label>
                   <div class="col-xs-2 col-sm-2">
                       <input-checkbox style="float:right" id="inputLock" ng-model="entity.lock">
                   </div>
               </div>
               <div class="form-group zb-form-group">
                   <label for="DisplayInfo" class="col-xs-4 col-sm-4 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                   <div class="col-xs-8 col-sm-8">
                       <input-text style="text-align: right;" value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                   </div>
               </div>
               <div class="form-group zb-form-group">
                   <!--Kiểu dữ liệu-->
                   <label for="inputData_Type" class="col-xs-4 col-sm-4 zb-form-label">${get_res('data_type','Kiểu dữ liệu')}</label>
                   <div class="col-xs-3 col-sm-3">
                       <input-select ng-model="entity.data_type" data-list="cbbDataType" data-value="value" data-caption="caption" required/>
                   </div>
                   <!--Số số lẻ-->
                   <label for="inputDec_Place" class="col-xs-3 col-sm-3 zb-form-label" style="padding-left:40px">${get_res('dec_place','Số số lẻ')}</label>
                   <div class="col-xs-2 col-sm-2" ng-disabled="true"><input-number id="inputDec_Place" ng-model="entity.dec_place" type="float">
                   </div>
               </div>
            </div>

        </collapse-box>
     </div>
</div>
<script>
    <%include file="scripts/unit.js"/>
</script>
