<%page args="headers,source"/>
<%include file="toolbar.html"/>
<table class="table table-condensed table-hover">
	<thead>
		<tr>
            %for x in headers:
                <th>${get_app_res(x[0])}</th>
            %endfor
                <th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in data.items">
            %for x in headers:
                <td>{{p.${x[1]}}}</td>
            %endfor
                <td>
                    <button class="btn btn-default">${get_app_res("Edit")}</button>

                </td>

		</tr>
	</tbody>
</table>
<script>
    (function(s){
        s.doLoadData=function(){
            s.$ws.api('${get_api_key("api.categories/get_list")}')
            .data({
                source:'${encryptor.get_key(source)}'
            }).done()
            .then(function(res){
                s.data=res;
                s.$applyAsync();
            });
        };
       s.doLoadData();
    })
</script>