
<%!
    #_style="width:300px;"
%>
<%inherit file="../../commons/dialog_selected_cancel.html"/>

<%block name="modal_body">
<div class="col-md-{{col_group}} col-sm-{{col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
        <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Mã nhóm-->
                    <label class="col-sm-5 zb-form-label">${get_res('kpi_group_code','Mã nhóm')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.kpi_group_code" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên nhóm-->
                    <label class="col-sm-5 zb-form-label">${get_res('kpi_group_name','Tên nhóm')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.kpi_group_name" required>
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Tên khác-->
                    <label class="col-sm-5 zb-form-label">${get_res('kpi_group_name2','Tên khác')}</label>
                    <div class="col-sm-7">
                        <input-text ng-model="entity.kpi_group_name2">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Thuộc nhóm-->
                    <label class="col-sm-5 zb-form-label">${get_res('parent_code','Thuộc nhóm')}</label>
                    <div class="col-sm-7">
                        <!--<input-combobox
                                list-code="${encryptor.get_key('cbb_hcsls_kpi_group')}"
                                list-value="[{ '@award_level_code': '' }]"
                                current-item="entity.parent_code"
                                multi-select="false">-->
                         <tree-combobox
                            load-data="$root.$getComboboxData" 
                            ng-model="entity.parent_code"
                            placeholder=""
                            init-data="$$$cbb_hcsls_kpi_group.value"
                            caption-field="{{$$$cbb_hcsls_kpi_group.caption_field}}"
                            key-field="{{$$$cbb_hcsls_kpi_group.value_field}}"
                            parent-field="{{$$$cbb_hcsls_kpi_group.parent_field}}"
                            multi-select="false"
                            on-accept=""
                            params="{key:'${encryptor.get_key('cbb_hcsls_kpi_group')}', value:[{ '@lock': true }]}">
                    </tree-combobox>
                    </div>
                </div>
            </div>
             <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Thứ tự-->
                    <label class="col-sm-5 zb-form-label">${get_res('weight','Trọng số')}</label>
                    <div class="col-sm-7">
                        <input-number ng-model="entity.weight">
                    </div>
                </div>
            </div>
           <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Thứ tự-->
                    <label class="col-sm-5 zb-form-label">${get_res('is_team','Chỉ tiêu tập thể')}</label>
                    <div class="col-sm-7">
                        <input-checkbox ng-model="entity.is_team">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Thứ tự-->
                    <label class="col-sm-5 zb-form-label">${get_res('ordinal','Thứ tự')}</label>
                    <div class="col-sm-7">
                        <input-number ng-model="entity.ordinal">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <!--Ngưng sử dụng-->
                    <label class="col-sm-5 zb-form-label">${get_res('lock','Ngưng sử dụng')}</label>
                    <div class="col-sm-7">
                        <input-checkbox ng-model="entity.lock">
                    </div>
                </div>
            </div>
    </collapse-box>
</div>
<div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
        <div class="row">
            <!--Ghi chú-->
            <div class="col-sm-12">
                <input-textarea rows="6" ng-model="entity.note"></input-textarea>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 16px;">
            <div class="form-group zb-form-group">
                <label for="DisplayInfo" class="col-sm-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                <div class="col-sm-9">
                    <input-text value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                </div>
            </div>
        </div>
    </collapse-box>
</div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        scope.title = scope.$parent.headerTitle;
        scope.col = 12;
        scope.col_group = 6;
        scope.onResizeDialog = onResizeDialog;

        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }
    });
</script>

</%block>