<div class="col-xs-12 col-md-6">
    <collapse-box class="zb-form-common" title="${get_res('1_level','1. Cấp độ')}">
        <toolbar>
             <input-text-icon class-btn="zb-small-btn" icon="bowtie-icon bowtie-search" on-click="onSearchTable0">
             </input-text-icon>
            <button ng-click="event[0].add()" class="zb-btn zb-btn-o-green zb-small-btn">
                <i class="bowtie-icon bowtie-math-plus"></i>
            </button>
            <button ng-click="event[0].edit()" class="zb-btn zb-btn-o-blue zb-small-btn">
                <i class="bowtie-icon bowtie-edit-outline"></i>
            </button>
            <button ng-click="event[0].delete()" class="zb-btn zb-btn-o-red zb-small-btn">
                <i class="bowtie-icon bowtie-trash"></i>
            </button>
            <button ng-click="event[0].refresh()" class="zb-btn zb-small-btn">
                <i class="bowtie-icon bowtie-navigate-refresh"></i>
            </button>
        </toolbar>
        <div class="col-xs-12 col-md-12 no-padding" style="height:400px;">
            <table-data data-source="$$table[0].tableSource"
                fields="$$table[0].tableFields"
                type="MultiSelect"
                paging="true"
                page-length="100"
                server-side="true"
                press-enter="$$table[0].onSelectTableRow"
                selected-items="$$table[0].selectedItems"
                current-item="$$table[0].currentItem"
                search-text="$$table[0].tableSearchText"
                refresh-row="$$table[0].refreshDataRow">
            </table-data>
        </div>
    </collapse-box>
</div>
<div class="col-xs-12 col-md-6">
        <collapse-box class="zb-form-common" title="${get_res('2_standard_behavior_by_level','2. Hành vi tiêu chuẩn theo cấp độ')}">
            <toolbar class="sub-toolbar-dialog">
                <input-text-icon class-btn="zb-small-btn" icon="bowtie-icon bowtie-search" on-click="onSearchTable1">
             </input-text-icon>
                <button ng-click="event[1].add()" class="zb-btn zb-btn-o-green zb-small-btn">
                    <i class="bowtie-icon bowtie-math-plus"></i>
                </button>
                <button ng-click="event[1].edit()"  class="zb-btn zb-btn-o-blue zb-small-btn">
                    <i class="bowtie-icon bowtie-edit-outline"></i>
                </button>
                <button ng-click="event[1].delete()" class="zb-btn zb-btn-o-red zb-small-btn">
                    <i class="bowtie-icon bowtie-trash"></i>
                </button>
                <button ng-click="event[1].refresh()" class="zb-btn zb-small-btn">
                    <i class="bowtie-icon bowtie-navigate-refresh"></i>
                </button>
            </toolbar>
            <div class="col-xs-12 col-md-12 no-padding" style="height:400px;">
                <table-data data-source="$$table[1].tableSource"
                    fields="$$table[1].tableFields"
                    type="MultiSelect"
                    paging="true"
                    page-length="100"
                    server-side="true"
                    press-enter="$$table[1].onSelectTableRow"
                    selected-items="$$table[1].selectedItems"
                    current-item="$$table[1].currentItem"
                    search-text="$$table[1].tableSearchText"
                    refresh-row="$$table[1].refreshDataRow">
                </table-data>
            </div>
        </collapse-box>
    </div>
<script>
    <%include file="scripts/level.js"/>
</script>
