<%!
    #_style="width:300px;"
%>
    <%inherit file="../../commons/dialog_resize_save_close_one_col.html"/>

<%block name="modal_body">
<div class="col-md-12 col-xs-12">
    <div class="form-group zb-form-group">
        <label class="col-sm-5 zb-form-label">Mục tiêu</label>
        <div class="col-sm-7">
            <input-text ng-model="" ng-readonly="true">
        </div>
    </div>
    <div class="form-group zb-form-group">
        <label class="col-sm-5 zb-form-label">Ngày</label>
        <div class="col-sm-7">
            <date-picker ng-model="">
        </div>
    </div>
    <div class="form-group zb-form-group">
        <label class="col-sm-5 zb-form-label">Thực hiện</label>
        <div class="col-sm-7">
            <input-text ng-model="">
        </div>
    </div>
    <div class="form-group zb-form-group">
        <label class="col-sm-12 zb-form-label">Kế hoạch hành động</label>
    </div>
    <div class="form-group zb-form-group">
        <div class="col-sm-12">
            <input-textarea rows="9" ng-model="Item.description"></input-textarea>
        </div>
    </div>
</div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        scope.title = scope.$parent.headerTitle;
    });
</script>

</%block>