<div ng-controller="SelectpickerPanelCtrl as selectpickerVm" class="zb-form-select" ng-disabled="ngDisabled">
    <ui-select ng-model="selectedItem.selected" class="btn-group bootstrap-select form-control" ng-disabled="ngDisabled" append-to-body="false" search-enabled="true" title="{{$select.selected.__fieldCaption}}">
        <ui-select-match placeholder="{{placeholder}}">
            {{selectedItem.selected[fieldCaption] == '__Blank__' ? '' : $select.selected.__fieldCaption}}
        </ui-select-match>
        <ui-select-choices repeat="searchItem in selectWithSearchItems | filter: $select.search">
            <span ng-if="searchItem.__fieldCaption != '__Blank__'" ng-bind-html="searchItem.__fieldCaption" title="{{searchItem.__fieldCaption}}"></span>
            <span ng-if="searchItem.__fieldCaption == '__Blank__'" style="display: block;height: 19px;">
                
            </span>
        </ui-select-choices>
    </ui-select>
</div>