<html  ng-cloak>
    <head>
        <script  src="${get_static('app/r.js')}"></script>
        <script src="${get_static('scripts.js')}"></script>
        <script src="${get_static('app/startup.js')}"></script>
        <script>
                startup("${get_static('')}",function(scope){
                    alert(scope.$id);
                });
        </script>
        
    </head>
    <body ng-cloak>
        <div b-ag-grid>
            <columns>
                <column data-field="XXX" title="xxxx"></column>
            </columns>
        </div>
            
    </body>
</html>