
<%!
    #_style="width:500px;"
    #_height="300px"
    _maximize="false"
%>
<%inherit file="../../../commons/dialog_resize_save_close.html"/>

<%block name="modal_body">
<div class="hcs-modal-format">
    <div class="col-xs-12 col-md-6 col-sm-6">
    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="form-group zb-form-group">
                 <label class="col-xs-4 col-sm-4 zb-form-label">${get_res('kpi_code','Tên chỉ tiêu')}</label>
                 <div class="col-xs-8 col-sm-8">
                     <form-search ng-model="entity.kpi_code" open="set_kpi_code()" init-data="$$$kpi_code" multi="__mode == 1 ? true : false" ng-clear="setEmptyLabel()" required></form-search>
                 </div>
             </div>
            <div class="form-group zb-form-group">
                 <label class="col-xs-4 col-sm-4 zb-form-label">${get_res('description','Mô tả')}</label>
                 <div class="col-xs-8 col-sm-8">
                     <output-label class="no-padding" value="entity.description"></output-label>
                 </div>
             </div>
            <div class="form-group zb-form-group">
                 <label class="col-xs-4 col-sm-4 zb-form-label">${get_res('unit','Đơn vị tính')}</label>
                 <div class="col-xs-8 col-sm-8">
                     <output-label class="no-padding" value="entity.unit"></output-label>
                 </div>
             </div>
            <div class="form-group zb-form-group">
                 <label class="col-xs-4 col-sm-4 zb-form-label">${get_res('cycle','Chu kỳ')}</label>
                 <div class="col-xs-8 col-sm-8">
                     <output-label class="no-padding" class="no-padding" value="entity.cycle"></output-label>
                 </div>
             </div>
            <div class="form-group zb-form-group">
                 <!--Trọng số-->
                 <label class="col-xs-4 col-sm-4 zb-form-label">${get_res('weight','Trọng số')}</label>
                 <div class="col-xs-8 col-sm-8">
                     <input-number ng-model="entity.weight" type="float">
                 </div>
             </div>
            <div class="form-group zb-form-group">
                 <label class="col-xs-4 col-sm-4 zb-form-label">${get_res('score_from','Cho điểm từ')}</label>
                 <div class="col-xs-8 col-sm-8" style="display:grid; grid-auto-columns:auto auto auto">
                     <div style="grid-area: 1 / 1 / 2 / 2;">
                        <input-number ng-model="entity.score_from" type="float">
                     </div>
                     <div style="grid-area: 1 / 2 / 2 / 3;">
                         <label class="zb-form-label" style="margin:0 5px;">${get_res('to','Đến')}</label>
                     </div>
                     <div style="grid-area: 1 / 3 / 2 / 4;">
                         <input-number ng-model="entity.score_to" type="float">
                     </div>
                 </div>
             </div>
        </div>
    </collapse-box>
</div>
    <div class="col-xs-12 col-md-6 col-sm-6">
    <collapse-box class="zb-form-common" title="${get_global_res('Other_Information','Thông tin khác')}">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="form-group zb-form-group">
                <input-textarea rows="7" ng-model="entity.note"></input-textarea>
            </div>
            <div class="form-group zb-form-group">
                <label for="DisplayInfo" class="col-xs-4 col-sm-4 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                <div class="col-xs-8 col-sm-8">
                    <input-text value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                </div>
            </div>
        </div>
    </collapse-box>
</div>
</div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        var _default = {
            kpi_code:null,
            kpi_name:null,
            unit:null,
            cycle:null,
            weight:null,
            score_from: null,
            score_to: null,
            ordinal:null
        };
        scope.title = scope.$parent.headerTitle;
        scope.saveNClose = saveNClose;
        scope.saveNNext = saveNNext;
        scope.__mode = scope.$parent.mode;
        var _entity = JSON.parse(JSON.stringify(scope.$parent.$$table.currentItem));
        scope.entity = scope.__mode === 2 ? _entity : _default;
        scope.job_w_code = scope.$parent.$job_w_code;
        scope.setEmptyLabel = setEmptyLabel;
        scope.set_kpi_code = function () {
            var frm = lv.FormSearch(scope, "$$$kpi_code");
            frm.KPI(scope.entity, "kpi_code", "${get_res('kpi_code','Tên chỉ tiêu')}", scope.__mode == 1 ? true : false);
            frm.openDialog;
            frm.accept(function () {
                if (scope.entity.kpi_code.length === 1) {
                    callApi("${get_api_key('app_main.api.TMLS_KPI/get_kpi_by_kpi_code')}",
                        {
                            "kpi_code": scope.entity.kpi_code[0]
                        }, function (res) {
                            scope.entity.unit = res.unit_code;
                            scope.entity.cycle = res.cycle_type;
                            scope.entity.description = res.kpi_desc;
                            scope.entity.weight = res.weight;
                            scope.entity.score_from = res.score_from;
                            scope.entity.score_to = res.score_to;
                            scope.$applyAsync();
                        });
                } else {
                    scope.entity.unit = null;
                    scope.entity.cycle = null;
                    scope.entity.description = null;
                    scope.entity.weight = null;
                    scope.entity.score_from = null;
                    scope.entity.score_to = null;
                    scope.$applyAsync();
                }
            });
            frm.cancel = function () {

            }
        }

        function setEmptyLabel() {
            if (scope.entity.kpi_code.length > 0) {
                scope.entity.unit = null;
                scope.entity.cycle = null;
                scope.entity.description = null;
                scope.entity.score_from = null;
                scope.entity.score_to = null;
            }
        }

        function callApi(url, parameter, callback) {
            services.api(url)
                .data(parameter)
                .done()
                .then(function (res) {
                    callback(res)
                })
        }

        function saveNClose() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        reloadData();
                    } else {
                        if (res.error == "duplicate") {
                            $msg.message("${get_global_res('error','Lỗi')}", "${get_global_res('data_duplicate','Dữ liệu trùng lập')}", function () { });
                        } else {
                            $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                        }
                    }
                });
            }
        }

        function saveNNext() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                editData(function (res) {
                    if (res.error == null) {
                        reloadData();
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                        scope.$parent.$apply();
                    } else {
                        if (res.error == "duplicate") {
                            $msg.message("${get_global_res('error','Lỗi')}", "${get_global_res('data_duplicate','Dữ liệu trùng lập')}", function () { });
                        } else {
                            $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                        }
                    }
                })
            }
        }

        function editData(callback) {
            var url = getUrl();
            if (scope.__mode == 3) {

            }
            services.api(url)
                .data({
                    "job_w_code": scope.job_w_code,
                    "kpi": scope.entity
                })
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.HCSLS_JobWorking/insert_performance_standanrd')}" /*Mode 1: Tạo mới*/
                : "${get_api_key('app_main.api.HCSLS_JobWorking/update_performance_standanrd')}" /*Mode 2: Cập nhật*/
        }

        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.kpi_code);
            rs.result = valid.isArray();
            if (rs.result === false && scope.entity.kpi_code.length === 0) {
                rs.errorMsg = "${get_res('kpi_code_is_not_null','Tên Chỉ tiêu KPI không được để trống')}"
            } else {
                rs.result = false;
            }
            return rs;
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$table.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
                tableConfig.iPageLength, tableConfig.orderBy,
                tableConfig.searchText, tableConfig.fnReloadData);
        }

        function _getDataInitCombobox() {
            scope.$root.$getInitComboboxData(scope,
                [{
                    "key": "${encryptor.get_key('cbb_kpi_kpi_group_multi')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('kpi_code')
                        ? scope.entity.kpi_code
                        : null,
                    "alias": "$$$kpi_code"
                },
                {
                    "key": "${encryptor.get_key('cbb_HCSLS_Unit')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('unit')
                        ? scope.entity.unit
                        : null,
                    "alias": "$$$unit"
                }
                ]);
        }

        (function _init_() {
            if (scope.__mode == 1) {
                _getDataInitCombobox();
            } else {
                _getDataInitCombobox();
            }
        })();

    });
</script>

</%block>