<div class="tab-pane" style="padding-right:unset; height: 100%;background: #fff;">
    <table class="table">
        <thead>
          <tr>
            <th>Năm</th>
            <th>Kỳ đánh giá</th>
            <th>Tổng NV tham gia</th>
            <th>%Tham gia</th>
            <th>Tổng chỉ tiêu đã giao</th>
            <th>Tổng chỉ tiêu cập nhật</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>john@example.com</td>
          </tr>
        </tbody>
      </table>
</div>
<script>
    <%include file = "scripts/list.js"/>
</script>