<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="left-content pull-left">
                <!--<img src="{{$root.logo}}">-->
                <span class="modal-title">{{title}}</span>
            </div>
            <div class="right-content pull-right">
                <button type="button" class="close" data-dismiss="modal"><i class="la la-close"></i></button>
            </div>
        </div>
        <div class="modal-body">
            <div style="height:100%;">
                <div class="col-md-6">
                    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <!--Đối tượng thiết lập-->
                                <label class="col-md-5 zb-form-label">${get_res('detail_change_object','Đối tượng thiết lập')}</label>
                                <div class="col-sm-7">
                                    <input-select ng-model="entity.change_object"  data-list="cbbChangeObject" data-value="value" data-caption="caption" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group zb-form-group" ng-if="entity.change_object == 1">
                                <!--Tên chi tiết-->
                                <label class="col-md-5 zb-form-label">${get_res('detail_object_name','Tên chi tiết')}</label>
                                <div class="col-md-7">
                                    <tree-combobox
                                        load-data="$root.$getComboboxData" 
                                        ng-model="entity.object_code"
                                        placeholder=""
                                        init-data="$$$cbb_job_working_group_multi_check.value"
                                        caption-field="{{$$$cbb_job_working_group_multi_check.caption_field}}"
                                        key-field="{{$$$cbb_job_working_group_multi_check.value_field}}"
                                        parent-field="{{$$$cbb_job_working_group_multi_check.parent_field}}"
                                        multi-select="$$$cbb_job_working_group_multi_check.multi_select"
                                        on-accept=""
                                        params="{key:'${encryptor.get_key('cbb_job_working_group_multi_check')}', value:[{ '@lock': true }]}"
                                        required>
                                    </tree-combobox>
                                </div>
                            </div>
                            <div class="form-group zb-form-group" ng-if="entity.change_object == 2">
                                <!--Tên chi tiết-->
                                <label class="col-md-5 zb-form-label">${get_res('detail_object_name','Tên chi tiết')}</label>
                                <div class="col-md-7">
                                    <form-search ng-model="entity.object_code" placeholder="" open="set_job_working()" init-data="$$$cbb_job_working_multi_check" multi="true" required></form-search>
                                </div>
                            </div>
                            <div class="form-group zb-form-group"  ng-if="entity.change_object == 3">
                                <!--Tên chi tiết-->
                                <label class="col-md-5 zb-form-label">${get_res('detail_object_name','Tên chi tiết')}</label>
                                <div class="col-md-7">
                                    <combobox load-data="$root.$getComboboxData" 
                                              ng-model="entity.object_code"
                                              params="{key:${encryptor.get_key('cbb_position')}, value:[{ '@lock': true }]}"
                                              on-search-change="false"
                                              on-search-press="true"
                                              placeholder=""
                                              init-data="$$$cbb_position"
                                              caption-field="{{$$$cbb_position.caption_field}}"
                                              paging="true"
                                              close-on-select="true"
                                              template-fields="$$$cbb_position.display_fields"
                                              reload="false"
                                              multi-select="true"
                                              required>
                                    </combobox>
                                </div>
                            </div>
                            <div class="form-group zb-form-group"  ng-if="entity.change_object == 4">
                                <!--Tên chi tiết-->
                                <label class="col-md-5 zb-form-label">${get_res('detail_object_name','Tên chi tiết')}</label>
                                <div class="col-md-7">
                                    <combobox load-data="$root.$getComboboxData" 
                                              ng-model="entity.object_code"
                                              params="{key:${encryptor.get_key('cbb_employee_type')}, value:[{ '@lock': true }]}"
                                              on-search-change="false"
                                              on-search-press="true"
                                              placeholder=""
                                              init-data="$$$cbb_employee_type"
                                              caption-field="{{$$$cbb_employee_type.caption_field}}"
                                              paging="true"
                                              close-on-select="true"
                                              template-fields="$$$cbb_employee_type.display_fields"
                                              reload="false"
                                              multi-select="true"
                                              required>
                                    </combobox>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <!--Tổng điểm từ-->
                                <label class="col-sm-5 zb-form-label">${get_res('detail_total_from','Tổng điểm từ')}</label>
                                <div class="col-sm-7">
                                    <input-number ng-model="entity.total_from">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <!--Tổng điểm đến-->
                                <label class="col-sm-5 zb-form-label">${get_res('detail_total_to','Tổng điểm đến')}</label>
                                <div class="col-sm-7">
                                    <input-number ng-model="entity.total_to">
                                </div>
                            </div>
                        </div>
                    </collapse-box>
                </div>
                <div class="col-md-6">
                    <collapse-box class="zb-form-common" title="${get_global_res('note','Ghi chú')}">
                        <div class="row">
                            <!--Ghi chú-->
                            <div class="col-sm-12">
                                <input-textarea rows="4" ng-model="entity.note"></input-textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group zb-form-group">
                                <label for="DisplayInfo" class="col-sm-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                                <div class="col-sm-9">
                                    <input-text 
                                                value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                    </collapse-box>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="right-content pull-right">
                <div class="pull-right"><button ng-click="save($event)"><i class="la la-save"></i></button></div>
            </div>
        </div>
    </div>
</div>
<script>
    (function (scope) {
        var _default = {
            rank_code: null,
            change_object: 1,
            object_level: null,
            object_code: null,
            object_name: null,
            priority_no: null,
            total_from: null,
            total_to: null,
            note: null
        };
        scope.title = scope.$parent.headerTitle;
        scope.save = save;
        scope.cbbChangeObject = [];
        scope.listNamecombobox = "";
        scope.mode = scope.$parent.__modeDetail;

        scope.set_job_working = function () {
            var frm = lv.FormSearch(scope, "$$$cbb_job_working_multi_check");
            frm.JobWorking(scope.entity, "object_code", "${get_res('job_w_change','CDCV có thể thuyên chuyển')}", true);
            frm.openDialog;
        }

        function save() {
            callApi(getUrl(),
                {
                    "rank_code": scope.$parent.entity.rank_code,
                    "details": scope.entity
                },
                function (res) {
                    if (res.updatedExisting == true) {
                        $('#dialogInputRankSub').modal('hide');//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        reloadData();
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
        }

        function reloadData() {
            var tableConfig = scope.$parent.$$table.$$tableConfig;
            scope.$parent._tableData(tableConfig.iPage,
                tableConfig.iPageLength, tableConfig.orderBy,
                tableConfig.searchText, tableConfig.fnReloadData);
        }

        function getUrl() {
            return scope.mode === 1 ? "${get_api_key('app_main.api.TMLS_Rank/insert_details')}"
                : "${get_api_key('app_main.api.TMLS_Rank/update_details')}";
        }

        function callApi(url, parameter, callback) {
            services.api(url)
                .data(parameter)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function _selectBoxData(callback) {
            callApi("${get_api_key('app_main.api.TMSYS_ConfigChangeObjectPriority/get_list')}",
                {
                    "name": "TMChangeObjectRank"
                }, function (res) {
                    var rs = [];
                    _.each(res, function (val) {
                        rs.push({
                            "value": val.change_object,
                            "caption": val.change_object_name
                        });
                    });
                    scope.cbbChangeObject = rs;
                    callback();
                    scope.$applyAsync();
                });
        }

        function _getDataInitCombobox() {
            scope.$root.$getInitComboboxData(scope,
                [
                    {
                        "key": "${encryptor.get_key('cbb_job_working_group_multi_check')}",
                        "code": scope.entity
                            && scope.entity.hasOwnProperty('object_code')
                            ? scope.entity.object_code
                            : null,
                        "alias": "$$$cbb_job_working_group_multi_check"
                    },
                    {
                        "key": "${encryptor.get_key('cbb_job_working_multi_check')}",
                        "code": scope.entity
                            && scope.entity.hasOwnProperty('object_code')
                            ? scope.entity.object_code
                            : null,
                        "alias": "$$$cbb_job_working_multi_check"
                    },
                    {
                        "key": "${encryptor.get_key('cbb_position')}",
                        "code": scope.entity
                            && scope.entity.hasOwnProperty('object_code')
                            ? scope.entity.object_code
                            : null,
                        "alias": "$$$cbb_position"
                    },
                    {
                        "key": "${encryptor.get_key('cbb_employee_type')}",
                        "code": scope.entity
                            && scope.entity.hasOwnProperty('object_code')
                            ? scope.entity.object_code
                            : null,
                        "alias": "$$$cbb_employee_type"
                    }
                ]
            );
        };

        (function __init__() {
            if (scope.mode == 2) {
                _getDataInitCombobox();
                _selectBoxData(function () {
                    scope.entity = scope.mode === 2 ? scope.$parent.$$table.currentItem : _default;
                });
            } else {
                _getDataInitCombobox();
                _selectBoxData(function () {
                    scope.entity = scope.mode === 2 ? scope.$parent.$$table.currentItem : _default;
                });
            }
        })();
    })
</script>