<style>
body {
    margin: 0;
    /*padding: 0;*/
    /*padding-top: 107px;*/
    background: #fff;
    font-family: 'Roboto-regular', sans-serif;
    font-weight: 300;
    color: #454545; font-size:15px;
    line-height: 26px;
    /*height: 100%;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Roboto-regular', sans-serif;
    color: #272727;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-thin';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin.woff') format('woff'),
    url('../fonts/Roboto-Thin.ttf') format('truetype'),
    url('../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

a {
    color: #45aed6;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #2a95be;
}
hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

/*** header ***/
.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background:#fff;
}
.navbar.navbar-default .navbar-toggle {
    margin-top: 32px;
    border: 0;

}
.navbar.navbar-default .navbar-brand {
    height: auto;
    /*padding: 22px 15px 15px;*/
}

#menus ul{
    /*padding-top: 35px;*/
}

@media only screen and (min-width: 768px) {
    #menus.navbar-default {
        background: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 20px !important;
    }
    #menus.navbar-default .navbar-nav > li > a {
        font-size: 16px;
    }
    #menus.navbar-default .navbar-nav > li.active > a,
    #menus.navbar-default .navbar-nav > li.open > a,
    #menus.navbar-default .navbar-nav > li:hover > a {
        background: transparent;
        border-top: 1px solid #ff6c00;
        color:#ff6c00;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 90px;
    }

    .navbar-toggler {
        padding-top: 20px !important;
    }
    #menus.navbar-default {
        background: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    }

    #menus.navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }

    #menus.navbar-default .navbar-nav > li > a {
        padding: 5px 0 !important;
    }

    #menus.navbar-default .navbar-nav > li.active > a,
    #menus.navbar-default .navbar-nav > li.open > a,
    #menus.navbar-default .navbar-nav > li:hover > a {
        background: transparent;
        border-left: 2px solid #ff6c00;
        padding-left: 10px !important;
        color:#ff6c00;
    }

    .img-fluid{
        max-width: 60% !important;
    }
}

/*** slide ***/
#slider img{
    max-height: 570px;
}

/*** home page ***/
#button{
    padding: 30px 0;
}


.make-link{
    border: 3px solid #FF0000;
    border-radius: 25px;
    text-align: center;
    font-size: 26px;
    padding: 5px 10px;
    max-width: 100%;

}

.make-link a{
    color: #FF0000;
}

.make-link:hover{
    background: #FF0000;
    cursor: pointer;
    color: #FFFFFF;
}

.make-link a:hover{
    color: #FFFFFF;
}

#button2{
    padding: 17px 0;
}

.make-link2{
    border: 3px solid #1d1e1f;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    padding: 5px 10px;
    max-width: 100%;
    min-height: 70px;
}

.make-link2 a{
    color: #1d1e1f;
}

.make-link2:hover{
    background: #1d1e1f;
    cursor: pointer;
    color: #FFFFFF;
}

.make-link2 a:hover{
    color: #FFFFFF;
}

.space-1{
    padding-top: 18px;
}


/*** slide2 ***/
#slide2{
    padding-top: 20px;
}


#slide2 img{
    max-width: 100%;
}


#slide2 iframe{
    width: 800px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
}

#menu-buttom{
    background-color: #ebebeb;
}

#menu-buttom .bg{
    border-top: 1px solid #ebebeb;
    background-color: #FFFFFF;
    padding-top: 5px;
}

#menu-buttom .scale-space{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

#menu-buttom .header-title{
    max-width: 100%;
    background-color: #1d1e1f;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 0 5px 10px;
    white-space: nowrap;
}

.nowrap{
    white-space: nowrap;
    background-color: #1d1e1f;
    color: #FFFFFF;
}

#menu-buttom ul{
    background-color: #FFFFFF;
}

#menu-buttom li{
    list-style-type: none;
    margin-left: -35px;
    padding: 5px;
}

#menu-buttom li:hover{
    background-color: #ebebeb;
}

#menu-buttom li a{
    /*padding: 5px 10px;*/
    min-height: 20px;
    height: auto;
    display: block;
    margin-top: 1px;
    border-bottom: 1px solid #1d1e1f;
    /*font-size: 13px;*/
    color: #1d1e1f;

}

#menu-buttom li a:hover{
    color: #FF0000;
}


/*** slide3 ***/
#slide3{
    padding-top: 0;
    text-align: center;
}

#slide3 iframe{
    width: 1024px;
    height: 900px;
    max-width: 100%;
    max-height: 100%;
}

/*** slide4 ***/
#slide4{
    padding-top: 20px;
}

#slide4 .bg-menu{
    background-color: #ebebeb;
}

#slide4 ul{
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu-left li{
    list-style-type: none;
    margin-left: -35px;
    padding: 10px 0 10px 10px;
    background-color: #1d1e1f;
    color: #FFFFFF;
    font-size: 18px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

#menu-left li:hover{
    background-color: #FFFFFF;
    color: #1d1e1f;
    border: 1px solid #1d1e1f;
    cursor: pointer;
}

#menu-left li.actived{
    border: 1px solid #1d1e1f;
    color: #1d1e1f;
    background-color: #FFFFFF;
}

#slide4 .draw-border{
    margin-top: 15px;
    /*margin-left: 5px;*/
    border: 1px solid #1d1e1f;
}

#slide4 #draw-org{
    padding: 15px 0;
}

#slide4 #draw-org img{
    max-width: 100%;
}

#slide4 #draw-org .header-title{
    max-width: 100%;
    background-color: #1d1e1f;
    color: #FFFFFF;
    /*text-transform: uppercase;*/
    padding: 5px 0 5px 10px;
    /*white-space: nowrap;*/
    margin-top: 2px;
    min-height: 65px;
}

#slide4 #draw-org .scale-space{
    padding-right: 2px !important;
    padding-left: 2px !important;
}


@media only screen and (max-width: 767px) {
    #slide4 #draw-org .header-title{
        min-height: auto;
    }

    .make-link2{
        min-height: auto;
    }
}

/*** footer ***/
#footer{
    background: #2e2e2e;
    color: #fff;
    padding: 10px 0;
}

#footer a{
    color: #fff;
}

#footer a:hover {
    color: #45aed6;
}


    </style>


<section id="powerBI" style="width: 100%; height: 100%;">
    <div class="col-md-12" style="width: 100%; height: 100%;">
        <div class="col-md-3">
                
        </div>
        <div class="col-md-9">
            <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </div>
    </div>
    
</section>

<script>
    (function (scope) {
        scope.function = [
            {
                title: "Sơ đồ tổ chức Bộ",
                url: ""
            },{
                title: "Sơ đồ tổ chức Đơn vị",
                url: ""
            },{
                title: "Chỉ số Nguồn Nhân lực",
                url: ""
            },{
                title: "Sàn GD việc làm",
                url: ""
            },{
                title: "Dạy trực tuyến",
                url: ""
            }, {

            }
        ]
    })
</script>