/*Sáng CSS*/
.hcs-home-background-lms{
    width:calc(90%);
    height:100%;
    background-image:url(images/HCS_Background_lms.png);
    background-repeat:no-repeat;
    opacity:.07;
    background-size: 100%;
    position:fixed;
    background-position:top -170px left 15px;
}


.hcs-tab-info .competency {
  margin: 10px 0 20px 0;
}
.hcs-tab-info .competency div {
  height: 40px;
  border-right: 1px solid #E2E2E2;
}
.hcs-tab-info .competency div:last-child {
  border: unset;
}
.hcs-tab-info .competency div:hover,
.hcs-tab-info .competency label:hover,
.hcs-tab-info .competency label i:hover {
  cursor: pointer;
}
.hcs-tab-info .competency div.disabled:hover,
.hcs-tab-info .competency .disabled label:hover,
.hcs-tab-info .competency .disabled label i:hover {
  cursor: no-drop !important;
}
.hcs-tab-info .competency label {
  font-weight: 500;
  float: left;
  height: 45px;
  margin: unset;
  padding-top: 15px;
}
.hcs-tab-info .competency .hcs-tab-info-box {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.hcs-tab-info .competency img {
  width: 45px;
  float: left;
}
.hcs-tab-info .competency div:last-child img {
  margin-top: 5px;
}
.hcs-tab-info .competency .active label {
  color: #2685C9;
}
.hcs-tab-info .competency .active label i {
  color: #2685C9;
}
.hcs-tab-info .competency .disabled {
  opacity: 0.5;
}
.hcs-tab-info .competency .active label span {
  color: #2685C9;
}

.circle-statistics {
    color: rgb(68,114,196);
    width: 15%;
    border: 1px solid rgb(68,114,196) !important;
    border-radius: 50%;
    text-align: center;
    font-size: 21px;
    padding-top: 3px;
    height: 40px;
    font-weight: bold;
}

.modal .modal-dialog-one-col {
    width: 400px !important;
}


@media (min-width: 768px) {
    span.bowtie-icon.hcs-toggle-slider {
        display: none;
    }

    .hcs-top-action-large {
        display: block;
    }

    .hcs-top-action-mobile {
        display: none;
    }

    .zb-page-sidebar .zb-right-content{
        display: unset !important;
    }

    .hcs-resp-action-zb-left-content {
        display: none;
    }

    .hcs-action-collapse-box-mobile {
        display: none !important;
    }

    .hcs-res-site-map-mobile {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    /* Css responsive cho dialog */

    .modal .modal-dialog{
        width: 100%;
        padding-right: 20px;
    }

    .zb-modal-combobox.modal .modal-dialog{
        width: 100%;
        padding-right: 0px;
    }

    .hcs-profile-list .hcs-left-side-department-content{
        width: 300px;
        height: 100%;
        float: left;
        border-bottom: 1px solid #d9d9d9;
        border-right: 0;
        border-left: 0;
        position: absolute;
        z-index: 999999;
        display: none;
        background: #fff;
    }

    .hcs-profile-list .hcs-left-side-toggle {
        margin-left: 0px;
        background: #fff;
        opacity: 1;
    }

    .hcs-profile-list .hcs-right-side-department-content {
        width: 100%;
    }

    span.bowtie-icon.hcs-toggle-slider {
        display: inline;
    }

    .modal .modal-dialog-one-col {
        margin-left: auto;
        margin-right: auto;
    }

    /* css cho menu action */

    .hcs-top-action-large {
        display: none;
    }

    .hcs-top-action-mobile {
        display: block;
        padding: 4px 5px;
    }

    /* End Css responsive cho dialog */

    .zb-top {
        height: 40px !important;
    }

    .zb-page-sidebar .zb-right-content{
        display: none;
    }

    .hcs-action-collapse-box-large {
        display: none ;
    }

    .hcs-padding-resize {
        padding-bottom: 10px;
    }

    #myConfirmModal .modal-dialog {
        width: 100%;
    }

    .hcs-res-site-map-mobile {
        display: -webkit-box;
        line-height: 0px;
        font-size: 90%;
    }

    .hcs-res-site-map-mobile-left {
        width: 90%;
    }

    .hcs-res-site-map-mobile-right {
        position: absolute;
        right: 7px;
    }

    .hcs-res-content-mobile {
        display: inline-block;
    }

}

/*
    Chỉnh cho modal nằm giữa màn hình
.modal {
    text-align: center;
  }
.modal:before {
    display: inline-block !important;
    vertical-align: middle !important;
    content: " ";
    height: 100%;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
*/
 .modal .modal-dialog .modal-body-resize{
    padding:0;
    max-height:calc(100vh - 142px);
    height: auto !important;
    padding-bottom: 10px;
    overflow:auto;
    min-height: calc((100vh - 142px)/2);
  }

 /*.modal .modal-dialog .modal-body-resize < .modal {
    text-align: center;
  }

  .modal .modal-dialog .modal-body-resize < .modal:before {
    display: inline-block !important;
    vertical-align: middle !important;
    content: " ";
    height: 100%;
  }

  .modal .modal-dialog .modal-body-resize < .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }*/
    .hcs-custom-zb-left-content .zb-left-content {
        width: auto !important;
        display: inline-flex;
    }

    .hcs-small-img {
        width: 24px;
        height: 24px;
    }

    /*CSS Header*/
.hcs-home-page-top-bar .hcs-home-page-top-bar-left {
    padding: 0;
}

.hcs-header-menu-left {
    height: 36px;
    margin-right: 10px;
    margin-left: 6px;
    float: left;
    left: -10px;
    position: relative;
}
.hcs-header-menu-left-btn {
    padding: 0 ;
    border: 0;
    margin: 0;
    height: 2.25rem;
    width: 40px;
    background: transparent;
}

.hcs-header-menu-left-btn:focus {
    outline: 0 !important;
}

.hcs-header-menu-left-box {
    height: 1.75rem ;
    /* color: #333; */
    border-color: transparent;
    vertical-align: top;
    border: 1px solid transparent;
    border-radius: .125rem;
    box-sizing: border-box;
    min-width: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.hcs-header-menu-left-box span{
    margin-top: 0 !important;
    line-height: 1.625rem !important;
    font-size: 1rem !important;
    color: #fff !important;
    cursor: inherit;
    width: 2.375rem;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-height: 2.375rem;
    position: relative;
    display: inline-block;
}

.hcs-header-menu-left-box:hover{
    background-color: #6fa0b6;
}

.hcs-navbar-brand {
    padding: 3px 20px 3px 0;
    color: #FFF;
    line-height: 20px;
    font-size: 24px;
    text-shadow: none;
    float: left;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-left .hcs-navbar-brand img {
    height: unset;
    margin: 0;
    width: 80px;
}

.hcs-home-title {
    color: #fff;
    font-weight: bold;
    line-height: 36px;
    padding: 0 10px;
    font-size: 14px;
    font-family: SegoeUI;
}


/*Css header right*/

.hcs-home-page-top-bar .hcs-home-page-top-bar-right {
    padding: 0 0 0 7px;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-user {
    background-color: transparent !important;
    border-color: unset !important;
    outline: none !important;
    border-radius: 0;
    padding: 0 !important;
    border: 0;
    margin: 0 !important;
    height: 2.25rem !important;
    width: auto;
}

.hcs-home-button-user-box {
    margin-top: 0 !important;
    font-size: 1rem !important;
    color: #fff !important;
    cursor: inherit;
    max-height: 2.375rem;
    height: 1.75rem !important;
    color: #333;
    border-color: transparent;
    vertical-align: top;
    border: 1px solid transparent;
    border-radius: .125rem;
    box-sizing: border-box;
    min-width: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    padding-right: 12px;
}

.hcs-home-button-user-box:hover {
    background-color: #6fa0b6;
}

.hcs-home-button-user-box span{
    margin-top: 0 !important;
    line-height: 1.625rem !important;
    font-size: .875rem !important;
    color: #fff !important;
    cursor: inherit;
    width: 1.75rem;
    text-align: center;
    margin: 0;
    padding: 0 0 0 11px;
    vertical-align: top;
    max-height: 2.375rem;
    font-family: SegoeUI;
}

.language-icon {
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    width: 40px;
}


.hcs-home-header-button {
    padding: 0 !important;
    border: 0;
    margin: 0 !important;
    height: 2.25rem !important;
    width: auto;
}

.hcs-home-header-button-box {
    height: 1.75rem !important;
    border-color: transparent;
    vertical-align: top;
    border: 1px solid transparent;
    border-radius: .125rem;
    box-sizing: border-box;
    min-width: 2.5rem;
    margin: 0;
    padding: 1px 0 0 0;
    text-align: center;
    position: relative;
}

.hcs-home-header-button-box:hover {
    background-color: #6fa0b6;
}

.hcs-home-header-button-box span.bowtie-icon {
    margin-top: 0 !important;
    line-height: 1.625rem !important;
    font-size: 1.2em !important;
    color: #fff !important;
    cursor: inherit;
    width: 2.375rem;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-height: 2.375rem;
}

.hcs-home-header-hour {
    height: 36px;
    margin-top: 0;
    padding-right: 5px;
}

.hcs-home-header-clock {

}

.hcs-home-header-clock-ampm {
    margin-top: 2px;
    font-size: .7rem !important;
    opacity: .85 !important;
    color: #fff;
    float: right;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.hcs-home-header-clock-time {
    font-size: 1rem !important;
    margin-right: 2px;
    margin-top: 1px;
    color: #fff;
    float: right;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.hcs-home-header-clock-date {
    position: relative;
    top: -4px;
    font-size: 11px;
    margin-right: 22px;
    margin-left: 3px;
    opacity: .85;
    font-family: sans-serif;
    color: #fff;
    float: right;
    font-weight: 400;
    line-height: 20px;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-language-menu{
    left: auto;
    position: fixed;
    right: 120px !important;
    width: 215px;
    border-color: #5b6250 !important;
    background-color: #5b6250 !important;
    opacity: .85;
    padding: 30px 40px 80px 40px;
    border-radius: 0;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-language-menu li a.hcs-active{
    color: #27ba86 !important;
    display: block;
    padding: 3px 20px 3px 11px;
    line-height: 1.42857143;
    white-space: nowrap;
    clear: both;
    font-weight: 400;
    font-size: 15px !important;
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: sans-serif;
    cursor: pointer;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-language-menu li a{
    height: unset !important;
    cursor: pointer;
    color: #fff !important;
    display: block;
    padding: 4px 20px 3px 11px;
    line-height: 1.42857143;
    white-space: nowrap;
    clear: both;
    font-weight: 400;
    font-size: 15px !important;
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: sans-serif;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-language-menu a:hover{
    background-color: unset !important;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-user-menu {
    left: auto;
    position: fixed;
    right: 0;
    width: auto;
    height: auto;
    border-color: #b7b7b7 !important;
    background-color: #fff !important;
    padding: 0;
    border-radius: 0;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-user-menu li{
    height: 48px;
    color: #000;
    padding: 0;
    line-height: 0;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-user-menu li .hcs-home-user-menu-box{
    font-size: 15px !important;
    color: #000 !important;
    padding: 0;
    height: 100%;
    width: 100%;
    display: table;
    padding: 0 15px;
}

.hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-button-user-menu li .hcs-home-user-menu-box span{
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
    font-family: SegoeUI;
}

/*END CSS Header*/

/*End sáng CSS*/