
<style>
    .app-content {
        overflow: unset !important;
    }
</style>
<div class="tab-pane" style="padding-right:unset; height: 100%; ">
    <div>
        <header-page>
            <site-map>
                <a><span>{{$root.currentFunction.default_name}}</span></a>
            </site-map>
            <toolbar>
                <input-text-icon icon="bowtie-icon bowtie-search"
                                    on-click="onSearch"></input-text-icon>
                <button class="zb-btn zb-btn-o-green" ng-click="createQuestionCategory()">
                        <i class="bowtie-icon bowtie-math-plus"></i>
                </button>
                <button class="zb-btn zb-btn-o-blue" ng-click="editQuestionCategory()">
                    <i class="bowtie-icon bowtie-edit-outline"></i>
                </button>
                <button class="zb-btn zb-btn-o-red" ng-click="delQuestionCategory()">
                    <i class="bowtie-icon bowtie-edit-remove"></i>
                </button>
                <button class="zb-btn" ng-click="importLearningMaterial()">
                    <i class="bowtie-icon bowtie-transfer-upload"></i>
                </button>
                <button class="zb-btn" ng-click="exportLearningMaterial()">
                    <i class="bowtie-icon bowtie-transfer-download"></i>
                </button>
                <button class="zb-btn" ng-click="$root.refresh()">
                    <i class="bowtie-icon bowtie-navigate-refresh"></i>
                </button>
            </toolbar>
        </header-page>
    </div>
    <div class="hcs-right-side-department-list" style="height: calc(100% - 40px);">
        <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 76px; bottom: 0; left: 0; right: 0;"></div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    <%include file="../../scripts/partialscript/examination_management_question.js"/>
</script>

