<style type="text/css">
    .tab-pane ul{
        list-style-type: none;
    }
    .tab-pane ul li{
        float: left;
        display: block;
        padding-right: 10px;
    }
</style>
<div class="tab-pane">
    <div class="col-md-12 col-xs-12">
        <div class="col-sm-3 col-xs-3">
            <ul>
                <li>Danh sách</li>
                <li>Tuần</li>
                <li>Tháng</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-3">
            <ul>
                <li>Sáng</li>
                <li>8:00</li>
                <li>12:00</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-3">
            <ul>
                <li>Chiều</li>
                <li>13:00</li>
                <li>15:00</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-3">
            <ul>
                <li>Tối</li>
                <li>__:__</li>
                <li>__:__</li>
            </ul>
        </div>
    </div>
</div>
<script>
    <%include file="../../scripts/partialscript/training_follow_schedule.js"/>
</script>