﻿<style>
    .hcs-navigation-panel-button {
        list-style-type:none;
        display:inline-flex;
    }

    .hcs-navigation-panel-button li {
        float:left;
    }

    .zb-content {
        background-color:transparent !important;
    }

    .app-content {
        overflow: unset !important;
    }
</style>
<div class="hcs-container">
    <div class="row hcs-profile-list">
        <div class="hcs-left-side-department-content">
            <div class="hcs-left-side-department-tree-tool-bar">
                <div class="pull-left" style="padding:0px 10px 0px 10px;width:100%;">
                    <div class="hcs-left-side-department-tree-tool-bar-div-search" style="width:100%;">
                       <input class="hcs-left-side-department-tree-tool-bar-input-search"
                              placeholder="Filter" ng-model="searchText">
                       <div class="hcs-left-side-department-tree-tool-bar-input-search-bot"></div>
                       <div class="hcs-left-side-department-tree-tool-bar-input-search-bot-icon">
                           <i class="glyphicon glyphicon-search"></i>
                       </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="hcs-left-side-department-tree" style="overflow: auto;">
                <div class="hcs-search-function-list" ng-repeat="ele in valueListModule track by $index">
                    <p style="margin:5px 0px;">
                        {{ele.caption}}
                    </p>
                    <div class ="zb-list-view">
                        <a ng-repeat="child in dataSource | filter:searchText" ng-class="{active: _equal(currentRow, child)}" ng-click="selectRow($event, child)" class ="list-group-item">
                            {{child.email_template_code}}</br>
                            {{child.email_template_name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hcs-right-side-department-content">
            <div>
                <header-page
                        on-add="event.add"
                        on-save="event.save"
                        on-delete="event.delete"
                        key-field="function_id"
                        display-field="currentFunction.default_name"
                        icon-field="icon"
                        reload-on-change="false"
                        selected-key="currentFunction.function_id">
                    <site-map>
                        <span> Định nghĩa Template Email hệ thống</span>
                        <div class="hcs-resp-action-zb-left-content" style="float: right;">
                            <button class="zb-btn zb-btn-o-green ng-scope"
                                    ng-click="$root.doToggle('.zb-right-content')">
                                <i class="bowtie-icon bowtie-menu"></i>
                            </button>
                        </div>
                    </site-map>
                    <toolbar>
                        <button class="zb-btn zb-btn-o-green ng-scope"
                            ng-click="event.add()">
                            <i class="bowtie-icon bowtie-math-plus"></i>
                        </button>
                        <button class="zb-btn" ng-click="event.save()">
                            <i class="bowtie-icon bowtie-save"></i>
                        </button>
                        <button class="zb-btn zb-btn-o-red" ng-click="event.delete()">
                            <i class="bowtie-icon bowtie-edit-remove"></i>
                        </button>
                        <button class="zb-btn" ng-click="event.attach()">
                            <i class="bowtie-icon bowtie-attach"></i>
                        </button>
                     </toolbar>
                </header-page>
            </div>
            <div class="hcs-right-side-department-list hcs-background-email-template-system" style="height:calc(100% - 37px);">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group zb-form-group">
                        <label class="col-sm-3 col-xs-6 col-md-3 zb-form-label">${get_res('email_template_code','Mã mẫu email')}</label>
                        <div class="col-sm-9 col-xs-6 col-md-9">
                            <input-text ng-model="entity.email_template_code" ng-disabled="mode == 2 ? true : false" required>
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label class="col-sm-3 col-xs-6 col-md-3 zb-form-label">${get_res('email_template_name','Tên mẫu email')}</label>
                        <div class="col-sm-9 col-xs-6 col-md-9">
                            <input-text ng-model="entity.email_template_name" required>
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label class="col-sm-3 col-xs-6 col-md-3 zb-form-label">${get_global_res('description','Mô tả')}</label>
                        <div class="col-sm-9 col-xs-6 col-md-9">
                            <input-text ng-model="entity.description">
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label class="col-sm-3 col-xs-6 col-md-3 zb-form-label">${get_res('module_name','Thuộc phân hệ')}</label>
                        <div class="col-sm-9 col-xs-6 col-md-9">
                            <input-select data-list="valueListModule" data-value="value" data-caption="caption" ng-model="entity.module_name" required>
                        </div>
                    </div>
                    <div class="form-group zb-form-group" style="margin-bottom:25px;">
                        <label class="col-sm-3 col-xs-6 col-md-3 zb-form-label">${get_res('subject','Tiêu đề')}</label>
                        <div class="col-sm-9 col-xs-6 col-md-9">
                            <input-text ng-model="entity.subject" required>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding: 0px 15px 0px 7px;">
                        <div data-c-html-editor 
                              ng-model="entity.body"
                              style="height:350px;">
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    <%include file="../scripts/emailTemplateSystem.js"/>
</script>
