<div class="hcs-body clearfix">
    <div class="col-md-12">
        <!--<h1>{{(Math.floor(Math.random() * 5))}}</h1>-->
        <collapse-box-home class="zb-dashboard" ng-repeat="function in $functions"
                      title="{{function.custom_name_lb}}" description="{{function.description_lb}}"
                      ng-if="!function.parent_id">

            <div style="padding-top: 0.625rem; padding-bottom: 1.375rem;" class="container-fluid">
                <div class="hcs-home-body-tile" id="hcs-body-{{function.function_id}}">
                        <tile-box ng-repeat="child in function.child_items"
                                  title="{{child.custom_name_lb}}"
                                  description="{{child.description_lb}}"
                                  width="{{child.width}}"
                                  icon="{{child.icon}}"
                                  number="{{child.number}}"
                                  image="{{child.image}}"
                                  color="{{(child.color && child.color.background) ? child.color : function.color}}"
                                  ng-click="handleEvent.redirectPage(child)">
                        </tile-box>
                    <!--number="990"-->
                    </div>
            </div>

        </collapse-box-home>
    </div>
</div>
<script>
    <%include file="../scripts/home.js"/>
</script>