
   <div class="col-xs-12 col-md-{{col_group}} col-sm-{{col_group}}" style="padding-bottom:20px;">
        <collapse-box class="zb-form-common" title="${get_res('General_Information','General Information')}">
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                   <label for="inputEmp_Train_Mode_Name" class="col-xs-5 col-sm-5 zb-form-label">${get_res('exam_id','ID')}</label>
                   <div class="col-xs-7 col-sm-7">
                      <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.exam_id" required>
                   </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <label for="inputEmp_Train_Mode_Name" class="col-xs-5 col-sm-5 zb-form-label">${get_res('exam_name1','Exam Name 1')}</label>
                    <div class="col-xs-7 col-sm-7">
                       <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.exam_name1" required>
                    </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <label for="inputEmp_Train_Mode_Name" class="col-xs-5 col-sm-5 zb-form-label">${get_res('exam_name2','Exam Name 2')}</label>
                    <div class="col-xs-7 col-sm-7">
                       <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.exam_name2">
                    </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('exam_type','Exam Type')}</label>
                     <div class="col-xs-7 col-sm-7">
                        <input-select data-list="vllExamType"
                                   ng-model="entity.course_related" data-value="value"
                                   data-caption="caption" required/>
                    </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('course_name','Course Name')}</label>
                     <div class="col-xs-7 col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                                ng-model="entity.course_info.course_name"
                                params="{key:'${encryptor.get_key('cbb_HCSLS_Unit')}', value:[{ '@lock': true }]}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""
                                init-data="$$$cbb_HCSLS_Unit.value"
                                caption-field="{{$$$cbb_HCSLS_Unit.caption_field}}"
                                paging="true"
                                close-on-select="true"
                                template-fields="$$$cbb_HCSLS_Unit.display_fields"
                                reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('class_code','Class Code')}</label>
                     <div class="col-xs-7 col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                                ng-model="entity.course_info.course_name"
                                params="{key:'${encryptor.get_key('cbb_HCSLS_Unit')}', value:[{ '@lock': true }]}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""
                                init-data="$$$cbb_HCSLS_Unit.value"
                                caption-field="{{$$$cbb_HCSLS_Unit.caption_field}}"
                                paging="true"
                                close-on-select="true"
                                template-fields="$$$cbb_HCSLS_Unit.display_fields"
                                reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('exam_mode','Exam Mode')}</label>
                     <div class="col-xs-7 col-sm-7">
                        <input-select data-list="vllExamMode"
                                   ng-model="entity.exam_mode" data-value="value"
                                   data-caption="caption" required/>
                    </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('exam_form','Exam Form')}</label>
                     <div class="col-xs-7 col-sm-7">
                        <input-select data-list="vllExamForm"
                                   ng-model="entity.exam_form" data-value="value"
                                   data-caption="caption" required/>
                    </div>
                </div>
            </div>
            <div class="col-xs-{{col}} col-md-{{col}}">
                <div class="form-group zb-form-group">
                   <!--Ngưng sử dụng-->
                <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('disable','Disable')}</label>
                <div class="col-xs-7 col-sm-7">
                    <input-checkbox ng-model="entity.disable" required>
                </div>
             </div>
            </div>
    </collapse-box>
    </div>
    <div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
        <collapse-box class="zb-form-common" title="${get_global_res('Special_Instruction','Special Instruction')}">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group zb-form-group">
                    <input-textarea rows="5" ng-model="entity.edit_instruction"></input-textarea>
                </div>
            </div>
        </collapse-box>
    </div>
    <div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
        <collapse-box class="zb-form-common" title="${get_global_res('Note','Note')}">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group zb-form-group">
                    <input-textarea rows="5" ng-model="entity.note"></input-textarea>
                </div>
                <div class="form-group zb-form-group">
                    <label for="DisplayInfo" class="col-xs-5 col-sm-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                    <div class="col-xs-7 col-sm-9">
                        <input-text style="text-align: right;" value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                    </div>
                </div>
            </div>
        </collapse-box>
    </div>



  <!--<div class="col-md-12 col-sm-12">
    <div class="form-group zb-form-group">
       &lt;!&ndash;Mã Tài liệu, ID&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('exam_id','ID')}</label>
       <div class="col-sm-9">
          <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.exam_id" required>
       </div>
    </div>
    <div class="form-group zb-form-group">
       &lt;!&ndash;Tên Tài liệu&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('exam_name1','Exam Name 1')}</label>
       <div class="col-sm-9">
          <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.exam_name1" required>
       </div>
    </div>
    <div class="form-group zb-form-group">
       &lt;!&ndash;Tên Tài liệu&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('exam_name2','Exam Name 2')}</label>
       <div class="col-sm-9">
          <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.exam_name2">
       </div>
    </div>
    <div class="form-group zb-form-group">
       &lt;!&ndash;Nguon dinh danh Tài liệu&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('course_related','Course-Related')}</label>
       <div class="col-sm-9">
          <div style="display: inline-flex;">
             <div class="radio radio-success">
                <input type="radio" name="radCourse" ng-value="dt_true" id="idradCourse1"
                   ng-model="entity.course_related">
                <label for="idradCourse1">
                <span>${get_res('yes_related','Yes')}</span>
                </label>
             </div>
             <div class="radio radio-success" style="margin-left: 136px;">
                <input type="radio" name="radCourse" ng-value="dt_false" id="idradCourse2"
                   ng-model="entity.course_related">
                <label for="idradCourse2">
                <span>${get_res('no_related','No')}</span>
                </label>
             </div>
          </div>
       </div>
    </div>
    <div class="form-group zb-form-group" id="input">
       &lt;!&ndash;Mô tả tài liệu&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('course_info','Course Information')}</label>
       <div class="col-sm-9" style="padding: 0">
          <div>
             <div class="col-md-4" >
                <input-select ng-model="entity.course_info.class_code" data-list="cbbQuestionPicking" data-value="value" data-caption="caption"></input-select>
                <p style="font-size:13px;text-align:center;color:rgb(237,125,49);font-style:italic">Class Code</p>
             </div>
             <div class="col-md-4" >
                <input-select ng-model="entity.course_info.course_name" data-list="cbbQuestionPicking" data-value="value" data-caption="caption"></input-select>
                <p style="font-size:13px;text-align:center;color:rgb(237,125,49);font-style:italic">Course Name</p>
             </div>
             <div class="col-md-4">
                <input-select ng-model="entity.course_info.start_date" data-list="cbbQuestionPicking" data-value="value" data-caption="caption"></input-select>
                <p style="font-size:13px;text-align:center;color:rgb(237,125,49);font-style:italic">Start Date</p>
             </div>
          </div>
       </div>
    </div>
    <div class="form-group zb-form-group">
       &lt;!&ndash;Tên Khóa học&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('exam_avail','Exam Availability')}</label>
       <div class="col-sm-9">
          <div style="display: inline-flex;">
             <div class="radio radio-success">
                <input type="radio" name="radAvail" ng-value="dt_true" id="idradAvail1"
                   ng-model="entity.exam_avail" >
                <label for="idradAvail1">
                <span>${get_res('alway_avail','Always Available')}</span>
                </label>
             </div>
             <div class="radio radio-success" style="margin-left:54px" >
                <input type="radio" name="radAvail" ng-value="dt_false" id="idradAvail2"
                   ng-model="entity.exam_avail" >
                <label for="idradAvail2">
                <span>${get_res('specific_avail','Available on specific time')}</span>
                </label>
             </div>
          </div>
       </div>
    </div>
    <div class="form-group zb-form-group">
        <label for="input_SizeFrom" class="col-sm-3 zb-form-label">${get_res('start_date','Start Date')}</label>
        <div class="col-sm-9" style="padding: 0">
            <div class="col-sm-5">
              <date-picker ng-model="entity.specific_avail.start_date" data-format="{{$root.systemConfig.date_format}}" />
           </div>
           <label style="text-align: center !important;" for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('start_time','Time')}</label>
           <div class="col-sm-5">
              <time-picker ng-model="entity.specific_avail.start_time" format="HH:mm" />
           </div>
       </div>
    </div>
    <div class="form-group zb-form-group">
        <label for="input_SizeFrom" class="col-sm-3 zb-form-label">${get_res('end_date','End Date')}</label>
        <div class="col-sm-9" style="padding: 0">
            <div class="col-sm-5">
              <date-picker ng-model="entity.specific_avail.end_date" data-format="{{$root.systemConfig.date_format}}" />
           </div>
           <label  style="text-align: center !important;" for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('start_time','Time')}</label>
           <div class="col-sm-5">
              <time-picker ng-model="entity.specific_avail.end_time" format="HH:mm" />
           </div>
       </div>
    </div>
    <div class="form-group zb-form-group">
       &lt;!&ndash;Tên Khóa học&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('exam_mode','Examination Mode')}</label>
       <div class="col-sm-9">
          <div style="display: inline-flex;">
             <div class="radio radio-success">
                <input type="radio" name="radMode" ng-value="dt_true" id="idradMode1"
                   ng-model="entity.exam_mode" >
                <label for="idradMode1">
                <span>${get_res('practise_exam','Practice Exam')}</span>
                </label>
             </div>
             <div class="radio radio-success" style="margin-left: 70px;">
                <input type="radio" name="radMode" ng-value="dt_false" id="idradMode2"
                   ng-model="entity.exam_mode" >
                <label for="idradMode2">
                <span>${get_res('officical_exam','Official Exam')}</span>
                </label>
             </div>
          </div>
       </div>
    </div>
    <div class="form-group zb-form-group">
       &lt;!&ndash;Tên Khóa học&ndash;&gt;
       <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('exam_form','Examination Form')}</label>
       <div class="col-sm-9">
          <div style="display: inline-flex;">
             <div class="radio radio-success">
                <input type="radio" name="radForm" ng-value="dt_true" id="idradForm1"
                   ng-model="entity.exam_form" >
                <label for="idradForm1">
                <span>${get_res('onl_exam','Online Exam')}</span>
                </label>
             </div>
             <div class="radio radio-success" style="margin-left: 76px;">
                <input type="radio" name="radForm" ng-value="dt_false" id="idradForm2"
                   ng-model="entity.exam_form" >
                <label for="idradForm2">
                <span>${get_res('off_exam','Offline Exam')}</span>
                </label>
             </div>
          </div>
       </div>
    </div>
    <div class="form-group zb-form-group">
           &lt;!&ndash;Tên Tài liệu&ndash;&gt;
           <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('special_instruc','Special Instruction')}</label>
           <div class="col-sm-9">
              <div class="col-md-12" style="padding:0px">
                 <p style="font-size:12px;cursor:pointer;padding-top: 5px;color:gray;font-style:italic;text-decoration-line:underline" ng-click="editInstruction()" ng-model="edit">Edit Instruction</p>
              </div>
              <div class="col-md-12" ng-if="editInstruc" style="padding:0px">
                 <div class="clearblock" style="display:inline-block"></div>
                 <c-html-box style="height: 100px;" data-rows="6" ng-model="entity.edit_instruction"></c-html-box>
              </div>
           </div>
        </div>
  </div>-->
<script>
    (function (scope) {
        
        scope.editInstruc = false;
        scope.editInstruction = function () {
            scope.editInstruc = !scope.editInstruc;
        }
        
    });
</script>
