
 <div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
        <collapse-box class="zb-form-common" title="${get_global_res('Special_Instruction','Special Instruction')}">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group zb-form-group">
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_global_res('allow_retaking_examination','Allow Retaking Examination')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <input-checkbox ng-model="entity.retake_exam">
                    </div>
                </div>
                <ng-container ng-if="entity.retake_exam">
                    <div class="form-group zb-form-group">
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_global_res('allow_retaking_all_conditions','Allow Retaking in all conditions')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <input-checkbox ng-model="entity.retake_all">
                    </div>
                </div>
                    <div class="form-group zb-form-group" ng-if="!entity.retake_all">
                        <label class="col-xs-5 col-sm-5 zb-form-label">${get_global_res('allow_retaking_less_than','Allow Retaking if the result is less than')}</label>
                        <div class="col-xs-7 col-sm-7">
                            <input-select ng-model="entity.result_less" data-list="cbbNegativeMarks" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label class="col-xs-5 col-sm-5 zb-form-label">${get_global_res('define_number_retaking_times','Define Number of retaking times')}</label>
                        <div class="col-xs-7 col-sm-7">
                            <input-select ng-model="entity.retake_time" data-list="vllRetakeTimes" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('choose_scoring_method','Choose Scoring Method')}</label>
                        <div class="col-xs-7 col-sm-7">
                            <input-select ng-model="entity.scoring_method" data-list="cbbScoringMethod" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                </ng-container>
            </div>
        </collapse-box>
    </div>
 <div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}" style="height: 500px">
    <collapse-box class="zb-form-common" title="${get_global_res('Retaking_Times','Retaking Times')}">
        <div class="form-group zb-form-group">
            <label class="col-xs-5 col-sm-5 zb-form-label">${get_global_res('different_time','Different Time')}</label>
            <div class="col-xs-7 col-sm-7">
                <input-checkbox ng-model="entity.different_time">
            </div>
        </div>

        <table class="display zb-data-table responsive nowrap dataTable no-footer">
            <thead>
                <tr>
                    <th style="text-align:center">No.</th>
                    <th style="text-align:center">Start Date</th>
                    <th style="text-align:center">Start Time</th>
                    <th style="text-align:center">End Date</th>
                    <th style="text-align:center">End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr role= "row"  ng-repeat="item in retake_time_list track by $index" ng-click="selectRow(item)">
                    <td>{{$index + 1}}</td>
                    <td>{{item.start_date | date: +  scope.$root.systemConfig.date_format}}</td>
                    <td>{{item.start_time}}</td>
                    <td>{{item.end_date | date: +  scope.$root.systemConfig.date_format}}</td>
                    <td>{{item.end_time}}</td>
                </tr>
            </tbody>
        </table>

        <toolbar>
            <button ng-click="editRetakingTimes()" class="zb-btn zb-btn-o-blue">
                <i class="bowtie-icon bowtie-edit-outline"></i>
            </button>
            <button ng-click="delRetakingTimes()" class="zb-btn zb-btn-o-red">
                <i class="bowtie-icon bowtie-trash"></i>
            </button>
            <button ng-click="refreshRetakingTimes()" class="zb-btn">
                <i class="bowtie-icon bowtie-navigate-refresh"></i>
            </button>
        </toolbar>
    </collapse-box>
</div>


<!--<div class="col-md-{{col}}" style="padding-bottom: 20px;">
                    <div class="col-md-2 col-sm-2">
                     </div>
                   <div class="col-md-10 col-sm-10">
                    <div class="col-md-{{col}}" style="padding-bottom: 20px;">
                        <div class="form-group zb-form-group">
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-1 zb-form-label">${get_res('retake','Retake')}</label>
                            <div class="col-sm-12"> 
                                     <div class="col-sm-12" style="margin-left: 15px;"> 
                                         
                                        <div class="radio radio-success" >
					                    <input type="radio" name="retakeExam" ng-value="dt_one" id="idRetake1" 
                                               ng-model="entity.retake_exam" ng-click="checkTimes()">
					                    <label for="idRetake1">
						                    <span>Do not allow re-take</span>
					                    </label>
				                         </div>
                                     
                                      </div>
                                 <div class="col-sm-12">
                                    <div class="col-sm-3">
                                    <div class="radio radio-success">
					                    <input type="radio" name="retakeExam" ng-value="dt_two" id="idRetake2" 
                                               ng-model="entity.retake_exam" ng-click="checkTimes()">
					                    <label for="idRetake2">
						                    <span>${get_res('Allow re-take')}</span>
					                    </label>
				                    </div>
                                      </div>
                                     <div class="col-sm-3"  style="margin-left:-30px;">                                    
					                    <input-select name="resumeApply" ng-click="checkTimes()" ng-model="entity.retake_all" data-list="cbbTimeRetake" data-value="caption" data-caption="caption" />				                   
                                    </div>
                                    <div class="col-sm-3" >     
                                        <label for="rad1">
						                    <span>${get_res('in all conditions.')}</span>
					                    </label>	                   
                                    </div>
                                   </div> 					                    
                                 
                                    <div class="col-sm-12" >
                                    <div class="col-sm-3" >
                                        <div class="radio radio-success">
					                        <input type="radio" name="retakeExam" ng-value="dt_three" id="idRetake3" 
                                                   ng-model="entity.retake_exam" ng-click="checkTimes()">
					                        <label for="idRetake3">
						                        <span>${get_res('Allow re-take ')}</span>
					                        </label>
				                        </div>
                                      </div>
                                     <div class="col-sm-3" style="margin-left:-30px;">                                    
					                    <input-select name="resumeApply" ng-click="checkTimes()" ng-model="entity.retake_condition" data-list="cbbTimeRetake" data-value="caption" data-caption="caption" />				                   
                                    </div>
                                    <div class="col-sm-3" > 
                                        <label for="rad1">
						                    <span>${get_res('if the result is less than')} </span>
					                    </label>	                   
                                    </div>
                                    <div class="col-sm-3" > 
						                <input-select name="resumeApply" ng-model="entity.result_less" data-list="cbbNegativeMarks" data-value="caption" data-caption="caption" />				                                   
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-{{col}}" style="padding-bottom: 20px;" ng-if="entity.retake_exam ==2  || entity.retake_exam == 3">
                        <div class="form-group zb-form-group">
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('re_exam','RE Exam Day')}</label>
                            <div class="col-md-12 col-sm-12">
                                <div style="display: inline-flex;">
                                    <div class="radio radio-success">
					                    <input type="radio" name="retakeTimes" ng-value="dt_true" id="idradDiff" 
                                               ng-model="entity.retake_time" ng-click="checkTimes()">
					                    <label for="idradDiff">
						                    <span>${get_res('diff_time','Different Time')}</span>
					                    </label>
				                    </div>
                                    <div class="radio radio-success" style="margin-left: 120px;">
					                    <input type="radio" name="retakeTimes" ng-value="dt_false" id="idradRange" 
                                               ng-model="entity.retake_time" ng-click="checkTimes()">
					                    <label for="idradRange">
						                    <span>${get_res('range_time','Range Time')}</span> 
					                    </label>
				                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}" style="padding-bottom: 20px;" >
                        <div ng-if="entity.retake_time">
                        <div class="form-group zb-form-group"  ng-repeat="elem in entity.list_time_retake track by $index">
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">{{elem.name}}</label>
                            <div class="col-md-{{col}}">
                                        <div class="form-group zb-form-group">
                                            &lt;!&ndash;Mô tả tài liệu&ndash;&gt;
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('start_date','Start Date')}</label>
                                             <div class="col-sm-4"> 
                                                <date-picker ng-model="elem.start_date" data-format="{{$root.systemConfig.date_format}}" />
                                            </div>
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('start_time','Time')}</label>
                                             <div class="col-sm-4"> 
                                                <time-picker ng-model="elem.start_time" format="HH:mm" />
                                            </div>
                                        </div>
                                        <div class="form-group zb-form-group">
                                            &lt;!&ndash;Mô tả tài liệu&ndash;&gt;
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('end_date','End Date')}</label>
                                             <div class="col-sm-4"> 
                                                <date-picker ng-model="elem.end_date" data-format="{{$root.systemConfig.date_format}}" />
                                            </div>
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('end_time','Time')}</label>
                                             <div class="col-sm-4"> 
                                                <time-picker ng-model="elem.end_time" format="HH:mm" />
                                        </div>
                                        </div>
                                </div>
                            </div>
                            </div>
                        <div class="form-group zb-form-group" ng-if="!entity.retake_time && entity.retake_exam !=1">
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2"></label>
                            <div class="col-md-{{col}}">
                                        <div class="form-group zb-form-group">
                                            &lt;!&ndash;Mô tả tài liệu&ndash;&gt;
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('start_date','Start Date')}</label>
                                             <div class="col-sm-4"> 
                                                <date-picker ng-model="entity.range_time.start_date" data-format="{{$root.systemConfig.date_format}}" />
                                            </div>
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('start_time','Time')}</label>
                                             <div class="col-sm-4"> 
                                                <time-picker ng-model="entity.range_time.start_time" format="HH:mm" />
                                            </div>
                                        </div>
                                        <div class="form-group zb-form-group">
                                            &lt;!&ndash;Mô tả tài liệu&ndash;&gt;
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('end_date','End Date')}</label>
                                             <div class="col-sm-4"> 
                                                <date-picker ng-model="entity.range_time.end_date" data-format="{{$root.systemConfig.date_format}}" />
                                            </div>
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-2 zb-form-label">${get_res('end_time','Time')}</label>
                                             <div class="col-sm-4"> 
                                                <time-picker ng-model="entity.range_time.end_time" format="HH:mm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                         </div>
                       <div class="col-md-{{col}}" style="padding-bottom: 20px;" ng-if="entity.retake_exam ==2 || entity.retake_exam ==3">
                                        <div class="form-group zb-form-group">
                                            &lt;!&ndash;Mã Tài liệu, ID&ndash;&gt;
                                            <label for="inputEmp_Train_Mode_Name" class="col-sm-4 zb-form-label">${get_res('scoring_method','Scoring Method')}</label>
                                            <div class="col-sm-6"> 
                                                 <input-select ng-model="entity.scoring_method" data-list="cbbScoringMethod" data-value="value" data-caption="caption" required />
                                            </div>
                                        </div>
                                    </div>
                     </div> 
                </div>          -->
   

<script>
    (function (scope) {

        scope.systemConfig = scope.$root.systemConfig
        scope.entity = scope.entity ? scope.entity : {};


        scope.editRetakingTimes = function(){
            if (scope.currentReTake) {
                debugger
                scope.__detailMode = 2; // set mode chỉnh sửa
                openDialog("${get_res('add_retaking_time','Add Retaking Time')}", 'form/dialog/AddRetakingTime', function () { }, "dialogInputRetakingTime");
            } else {
                $msg.message("${get_global_res('Notification','Thông báo')}", "${get_app_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            }
        }

        scope.delRetakingTimes = function(){
            if (!scope.currentReTake) {
            $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    scope.retake_time_list[scope.currentReTake.no-1] = {no: scope.currentReTake.no, start_date: null, start_time: null, end_date: null, end_time: null }
                    $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                    scope.currentReTake = null;
                    scope.selectedReTake = [];
                });
            }
        }

        function openDialog(title, path, callback, id = 'myModal') {

            //check tồn tại của form dialog theo id
            if ($('#' + id).length === 0) {
                scope.headerTitle = title;
                //Đặt ID cho form dialog
                dialog(scope, id).url(path).done(function () {
                    callback();
                    //Set draggable cho form dialog
                    $dialog.draggable();
                });
            }
        }

         scope.$watch("entity.retake_time", function (val, old) {
            scope.loadDataRetake();
        }, true)

        scope.$watch("entity.different_time", function (val, old) {
            scope.loadDataRetake();
        }, true)

        scope.selectRow = function (item) {
            scope.currentReTake = JSON.parse(JSON.stringify(item));
        }


        scope.loadDataRetake = function () {

            scope.retake_time_list = scope.$parent.currentItem.retake_time_list ? JSON.parse(JSON.stringify(scope.$parent.currentItem.retake_time_list)) : [];

            var length = scope.retake_time_list ? scope.retake_time_list.length : 0;

            if(scope.entity.different_time)
            {
                if(length < scope.entity.retake_time)
                {
                    for (i = length + 1; i <= scope.entity.retake_time; i++) {
                        scope.retake_time_list.push({no: i, start_date: null, start_time: null, end_date: null, end_time: null })
                    }
                }
                else if(length > scope.entity.retake_time)
                {
                    for (i = length; i > scope.entity.retake_time; i--) {
                        scope.retake_time_list.splice(i-1, 1);
                    }
                }
            }
            else {
                length > 0 ? scope.retake_time_list.splice(1, 4) : scope.retake_time_list.push({no: 1, start_date: null, start_time: null, end_date: null, end_time: null })

            }


        }
        scope.loadDataRetake();



        
    });
</script>
