
<div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_res('General_Information','General Information')}">
        <div class="col-md-12 col-xs-12">
            <div class="form-group zb-form-group">
               <label for="input_Forum_ID" class="col-xs-5 col-sm-5 zb-form-label">${get_res('forum_key','Forum ID')}</label>
               <div class="col-xs-7 col-sm-7">
                  <input-text id="input_Forum_ID" ng-model="entity.forum_id" ng-disabled="{{ __mode === 2 ? 'true' : 'false' }}" required>
               </div>
            </div>
            <div class="form-group zb-form-group">
               <label for="input_Forum_Name" class="col-xs-5 col-sm-5 zb-form-label">${get_res('forum_name','Forum Name 1')}</label>
               <div class="col-xs-7 col-sm-7">
                  <input-text id="input_Forum_Name" ng-model="entity.forum_name" required>
               </div>
            </div>
            <div class="form-group zb-form-group">
               <label for="input_Forum_Name_Other" class="col-xs-5 col-sm-5 zb-form-label">${get_res('forum_name_other','Forum Name 2')}</label>
               <div class="col-xs-7 col-sm-7">
                  <input-text id="input_Forum_Name_Other" ng-model="entity.forum_name_other">
               </div>
            </div>
            <div class="form-group zb-form-group">
               <label for="input_Forum_Order" class="col-xs-5 col-sm-5 zb-form-label">${get_res('order','Order')}</label>
               <div class="col-xs-7 col-sm-7">
                  <input-number id="input_Forum_Order" ng-model="entity.order">
               </div>
            </div>
            <div class="form-group zb-form-group">
               <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('disable','Disable')}</label>
               <div class="col-xs-7 col-sm-7">
                  <input-checkbox  ng-model="entity.disable">
               </div>
            </div>
        </div>
    </collapse-box>
</div>
<div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_res('Forum_Description','Forum Description')}">
        <div class="col-md-12 col-xs-12">
            <div class="form-group zb-form-group">
                <input-textarea rows="7" ng-model="entity.description"></input-textarea>
            </div>
        </div>
    </collapse-box>
</div>
<div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_res('Forum_Publicity','Forum Publicity')}">
        <div class="col-md-12 col-xs-12">
            <div class="form-group zb-form-group">
               <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('public','Public')}</label>
               <div class="col-xs-7 col-sm-7">
                   <input-checkbox ng-model="entity.forum_type">
               </div>
            </div>
            <div ng-show="!entity.forum_type">
                <div class="form-group zb-form-group" >
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('course_name','Course Name')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                                  ng-model="entity.info_course_name"
                                  params="{key:'${encryptor.get_key('cbb_lmsls_materialfolder')}', value:[{ '@lock': true }]}"
                                  on-search-change="false"
                                  on-search-press="true"
                                  placeholder=""
                                  init-data="$$$course_name.value"
                                  caption-field="{{$$$course_name.caption_field}}"
                                  paging="true"
                                  close-on-select="true"
                                  template-fields="$$$course_name.display_fields"
                                  reload="false" required>
                        </combobox>
                    </div>
                </div>
                <div class="form-group zb-form-group" >
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('class_code','Class Code')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <combobox load-data="$root.$getComboboxData"
                                  ng-model="entity.info_class_code"
                                  params="{key:'${encryptor.get_key('cbb_lmsls_materialfolder')}', value:[{ '@lock': true }]}"
                                  on-search-change="false"
                                  on-search-press="true"
                                  placeholder=""
                                  init-data="$$$class_code.value"
                                  caption-field="{{$$$class_code.caption_field}}"
                                  paging="true"
                                  close-on-select="true"
                                  template-fields="$$$class_code.display_fields"
                                  reload="false" required>
                        </combobox>
                    </div>
                </div>
                <div class="form-group zb-form-group" >
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('start_date','Start Date')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <date-picker ng-model="entity.info_start_date" data-format="{{$root.systemConfig.date_format}}" required/>
                    </div>
                </div>
            </div>
        </div>
    </collapse-box>
</div>
<div class="col-xs-12 col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_res('Forum_Availability','Forum Availability')}">
        <div class="col-md-12 col-xs-12">
            <div class="form-group zb-form-group">
               <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('always_avail','Always Availability')}</label>
               <div class="col-xs-7 col-sm-7">
                   <input-checkbox ng-model="entity.forum_avail">
               </div>
            </div>
            <div ng-show="!entity.forum_avail">
                <div class="form-group zb-form-group" >
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('start_date','Start Date')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <date-picker ng-model="entity.avail_start_date" data-format="{{$root.systemConfig.date_format}}" />
                    </div>
                </div>

                <div class="form-group zb-form-group" >
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('avail_start_time','Start Time')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <time-picker ng-model="entity.avail.start_time" format="HH:mm" />
                    </div>
                </div>
                <div class="form-group zb-form-group" >
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('end_date','End Date')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <date-picker ng-model="entity.avail_end_date" data-format="{{$root.systemConfig.date_format}}" />
                    </div>
                </div>

                <div class="form-group zb-form-group" >
                    <label class="col-xs-5 col-sm-5 zb-form-label">${get_res('avail_end_time','End Time')}</label>
                    <div class="col-xs-7 col-sm-7">
                        <time-picker ng-model="entity.avail.end_time" format="HH:mm" />
                    </div>
                </div>
            </div>
        </div>
    </collapse-box>
</div>



<script>
    (function (scope) {

        scope.editInstruc = false;
        scope.editInstruction = function () {
            scope.editInstruc = !scope.editInstruc;
        }
    });
</script>
