<div>
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-10 col-sm-10">
        <div class="form-group zb-form-group" style="height:43px">
        <!--Mô tả tài liệu-->
        <label for="input_Forum_Info" class="col-sm-3 zb-form-label">${get_res('allow_subscription','Allow Subcription')}</label>
        <div class="col-sm-5" style="padding: 0; margin-left: 14px">
             <input-select ng-model="entity.allow_subscription" data-list="cbbNegativeMarks" data-value="value" data-caption="caption"></input-select>
        </div>
        </div>
        <div class="form-group zb-form-group">
           <!--Nguon dinh danh Tài liệu-->
           <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('allow_member_rate','Allow Members to Rate Pots')}</label>
           <div class="col-sm-9">
              <div style="display: inline-flex;">
                 <div class="radio radio-success">
                    <input type="radio" name="radCourse0" ng-value="dt_true" id="idradCourse0"
                       ng-model="entity.allow_member_rate">
                    <label for="idradCourse0">
                    <span>${get_res('yes_related','Yes')}</span>
                    </label>
                 </div>
                 <div class="radio radio-success" style="margin-left: 136px;">
                    <input type="radio" name="radCourse0" ng-value="dt_false" id="idradCourse1"
                       ng-model="entity.allow_member_rate">
                    <label for="idradCourse1">
                    <span>${get_res('no_related','No')}</span>
                    </label>
                 </div>
              </div>
           </div>
        </div>
        <div class="form-group zb-form-group">
           <!--Nguon dinh danh Tài liệu-->
           <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('force_moderation_post','Force Moderation of Posts')}</label>
           <div class="col-sm-9">
              <div style="display: inline-flex;">
                 <div class="radio radio-success">
                    <input type="radio" name="force_moderation_post" ng-value="dt_true" id="idradCourse2"
                       ng-model="entity.force_moderation_post">
                    <label for="idradCourse2">
                    <span>${get_res('yes_related','Yes')}</span>
                    </label>
                 </div>
                 <div class="radio radio-success" style="margin-left: 136px;">
                    <input type="radio" name="force_moderation_post" ng-value="dt_false" id="idradCourse3"
                       ng-model="entity.force_moderation_post">
                    <label for="idradCourse3">
                    <span>${get_res('no_related','No')}</span>
                    </label>
                 </div>
              </div>
           </div>
        </div>
        <div class="form-group zb-form-group" ng-show="entity.force_moderation_post">
           <!--Nguon dinh danh Tài liệu-->
           <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('type_moderation','Types of Moderation')}</label>
           <div class="col-md-9">
              <div class="row">
                    <div class="col-md-12" ng-repeat="item in ListModeration track by $index">
                     <div class="radio radio-success">
                    <input type="radio" name="type_moderation" id="idradCourse4" ng-value="item.value"
                       ng-model="entity.type_moderation">
                    <label for="idradCourse4">
                    <span>{{item.caption}}</span>
                    </label>
                 </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="form-group zb-form-group" style="height:43px">
                    <!--Tên quốc gia-->
                    <label for="inputPR_Forum_Admin" class="col-sm-3 zb-form-label">${get_res('forum_administrator','Forum Admin')}</label>
                    <div class="col-sm-5">
                        <combobox load-data="$root.$getComboboxData"
                                  ng-model="entity.forum_administrator"
                                  params="{key:'${encryptor.get_key('cbb_lmsls_materialfolder')}', value:[{ '@lock': true }]}"
                                  on-search-change="false"
                                  on-search-press="true"
                                  placeholder=""
                                  init-data="$$$forum_admin_id.value"
                                  caption-field="{{$$$forum_admin_id.caption_field}}"
                                  paging="true"
                                  close-on-select="true"
                                  template-fields="$$$forum_admin_id.display_fields"
                                  reload="false">
                        </combobox>
                    </div>
                </div>
        <div class="form-group zb-form-group">
           <!--Nguon dinh danh Tài liệu-->
           <label for="inputEmp_Train_Mode_Name" class="col-sm-3 zb-form-label">${get_res('force_moderation_post','Force Moderation of Posts')}</label>
           <div class="col-sm-9">
              <div style="display: inline-flex;">
                 <div class="radio radio-success" ng-repeat="item in rdStatusForum track by $index" style="margin-right:20px">
                    <input type="radio" name="forum_status" id="idradCourse9" ng-value="item.value"
                       ng-model="entity.forum_status">
                    <label for="idradCourse3">
                    <span>{{item.caption}}</span>
                    </label>
                 </div>
              </div>
           </div>
        </div>
    </div>
</div>
<script>
    (function (scope) {

        scope.editInstruc = false;
        scope.editInstruction = function () {
            scope.editInstruc = !scope.editInstruc;
        }
    });
</script>
