
<%!
    #_style="width:200px;"
%>
<%inherit file="../commons/dialog_search_close.html"/>

<%block name="modal_body">
<style>
    collapse-box:last-child{
        margin-bottom:20px;
    }
</style>
</br>
<div class="hcs-modal-format col-md-12">
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_SearchText" class="col-sm-4 zb-form-label">${get_res('search_text','Search Text')}</label>
                <div class="col-sm-8">
                    <input-text ng-model="entity.searchText" />
                </div>
            </div>
            <div class="form-group zb-form-group">
                        <label for="input_CourseName" class="col-sm-4 zb-form-label">${get_res('course_name','Course Name')}</label>
                        <div class="col-sm-8">
                            <combobox load-data="$root.$getComboboxData"
                              ng-model="entity.course_name"
                              params="{key:'${encryptor.get_key('lms_cbb_course')}'}"
                              on-search-change="false"
                              on-search-press="true"
                              placeholder=""
                              init-data="$$$cbb_lmsls_course.value"
                              paging="true"
                              close-on-select="true"
                              template-fields="$$$cbb_lmsls_course.display_fields"
                              reload="false">
                            </combobox>
                        </div>
                    </div>
            <div class="form-group zb-form-group">
                <label for="input_ValidFrom" class="col-sm-4 zb-form-label">${get_res('valid_from','Valid From')}</label>
                <div class="col-sm-8">
                    <date-picker ng-model="entity.valid_from_date" data-format="{{$root.systemConfig.date_format}}"/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_Author" class="col-sm-4 zb-form-label">${get_res('author_','Author')}</label>
                <div class="col-sm-8">
                    <!--<input-select ng-model="entity.created_by" data-list="$root.cbbTypeFolder" data-value="value" data-caption="caption" />-->
                    <combobox load-data="$root.$getComboboxData"
                              ng-model="entity.created_by"
                              params="{key:'${encryptor.get_key('cbb_lmsls_list_author_material_management')}'}"
                              on-search-change="false" on-search-press="true" placeholder=""
                              init-data="$$$cbb_lmsls_author.value"
                              paging="true" close-on-select="true"
                              template-fields="$$$cbb_lmsls_author.display_fields"
                              reload="false">
                            </combobox>
                </div>
            </div>
            <div class="form-group zb-form-group">
                        <label for="input_Category" class="col-sm-4 zb-form-label">${get_res('category','Category')}</label>
                        <div class="col-sm-8">
                            <combobox load-data="$root.$getComboboxData"
                                      ng-model="entity.category_id"
                                      params="{key:'${encryptor.get_key('cbb_lmsls_materialfolderfollowparent')}', value:[{ '@lock': true },{'@parent_code':null}]}"
                                      on-search-change="false"
                                      on-search-press="true"
                                      placeholder=""
                                      init-data="$$$cbb_lmsls_materialfolderfollowparent.value"
                                      paging="true"
                                      close-on-select="true"
                                      template-fields="$$$cbb_lmsls_materialfolderfollowparent.display_fields"
                                      reload="false">
                            </combobox>
                        </div>
                    </div>
            <div class="form-group zb-form-group">
                            <label for="input_SizeFrom" class="col-sm-4 zb-form-label">${get_res('size_from','Size From')}</label>
                            <div class="col-sm-5">
                                <input-number ng-model="entity.num_size_from" />
                            </div>
                            <div class="col-sm-3">
                                <input-select ng-model="entity.type_size_from" data-list="cbbMemorySize" data-value="value" data-caption="caption" />
                            </div>
                        </div>
            <div class="form-group zb-form-group">
                    <label for="input_StarRatingFrom" class="col-sm-4 zb-form-label">${get_res('rating_from','Rating from')}</label>
                    <div class="col-sm-8">
                        <input-select ng-model="entity.star_rating_from" data-list="cbbStarRating" data-value="value" data-caption="caption" />
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_SearchCriteria" class="col-sm-4 zb-form-label">${get_res('search_criteria','Search Criteria')}</label>
                <div class="col-sm-8">
                    <input-select ng-model="entity.search_criteria" data-list="cbbSearchCriteria" data-value="value" data-caption="caption" />
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_FileFormat" class="col-sm-4 zb-form-label">${get_res('file_format','File Format')}</label>
                <div class="col-sm-8">
                    <input-select ng-model="entity.file_format" data-list="cbbLMSFileFormat" data-value="value" data-caption="caption" />
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_ValidTo" class="col-sm-4 zb-form-label">${get_res('valid_from','Valid From')}</label>
                <div class="col-sm-8">
                    <date-picker ng-model="entity.valid_to_date" data-format="{{$root.systemConfig.date_format}}"/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_Creator" class="col-sm-4 zb-form-label">${get_res('creator','Creator')}</label>
                <div class="col-sm-8">
                    <!--<input-select ng-model="entity.contributed_by" data-list="$root.cbbTypeFolder" data-value="value" data-caption="caption" />-->
                    <combobox load-data="$root.$getComboboxData"
                              ng-model="entity.contributed_by"
                              params="{key:'${encryptor.get_key('lms_cbb_employees_cbcc')}'}"
                              on-search-change="false"
                              on-search-press="true"
                              placeholder=""
                              init-data="$$$cbb_lmsls_employees.value"
                              paging="true"
                              close-on-select="true"
                              template-fields="$$$cbb_lmsls_employees.display_fields"
                              reload="false">
                            </combobox>
                </div>
            </div>
            <div class="form-group zb-form-group">
                        <label for="input_SubCategory" class="col-sm-4 zb-form-label">${get_res('sub_category','Sub Category')}</label>
                        <div class="col-sm-8">
                            <combobox load-data="$root.$getComboboxData"
                                      ng-model="entity.sub_category_id"
                                      params="{key:'${encryptor.get_key('cbb_lmsls_materialfolderfollowparent')}', value:[{ '@lock': true },{'@parent_code':entity.category_id}]}"
                                      on-search-change="false"
                                      on-search-press="true"
                                      placeholder=""
                                      init-data="$$$cbb_lmsls_submaterialfolderfollowparent.value"
                                      paging="true"
                                      close-on-select="true"
                                      template-fields="$$$cbb_lmsls_submaterialfolderfollowparent.display_fields"
                                      reload="true">
                            </combobox>
                        </div>
                    </div>
            <div class="form-group zb-form-group">
                            <label for="input_SizeFrom" class="col-sm-4 zb-form-label">${get_res('size_to','Size To')}</label>
                            <div class="col-sm-5">
                                <input-number ng-model="entity.num_size_to" />
                            </div>
                            <div class="col-sm-3">
                                <input-select ng-model="entity.type_size_to" data-list="cbbMemorySize" data-value="value" data-caption="caption" />
                            </div>
                        </div>
            <div class="form-group zb-form-group">
                    <label for="input_StarRatingTo" class="col-sm-4 zb-form-label">${get_res('rating_to','Rating to')}</label>
                    <div class="col-sm-8">
                        <input-select ng-model="entity.star_rating_to" data-list="cbbStarRating" data-value="value" data-caption="caption" />
                    </div>
                </div>
        </div>
    <!--<div class="col-md-6">

        </div>
    <div class="col-md-6">

            &lt;!&ndash;<div class="form-group zb-form-group">
                <label for="input_DateCreated" class="col-sm-5 zb-form-label">${get_res('date_created','Date Created')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_created" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateContributed" class="col-sm-5 zb-form-label">${get_res('date_contributed','Date Contributed')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_contributed" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>&ndash;&gt;
        </div>
    <div class="col-md-6">
           <div class="col-md-12" style="padding-left: 15px;">




                </div>
        </div>
    <div class="col-md-6">
            <div class="col-md-12" style="padding-right: 15px;">

                    <div class="form-group zb-form-group">
                        <label for="input_StartDate" class="col-sm-5 zb-form-label">${get_res('start_date','Start Date')}</label>
                        <div class="col-sm-7">
                            <date-picker ng-model="entity.start_date" data-format="{{$root.systemConfig.date_format}}" required/>
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_EndDate" class="col-sm-5 zb-form-label">${get_res('end_date','End Date')}</label>
                        <div class="col-sm-7">
                            <date-picker ng-model="entity.end_date" data-format="{{$root.systemConfig.date_format}}" required/>
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_Instructor" class="col-sm-5 zb-form-label">${get_res('instructor','Instructor')}</label>
                        <div class="col-sm-7">
                            <input-select ng-model="entity.instructor" data-list="cbbLMSLCoverage" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                </div>
        </div>
    <div class="col-md-6">

            <div class="form-group zb-form-group">
                <label for="input_DateContributedFrom" class="col-sm-5 zb-form-label">${get_res('date_contributed_from','Date Contributed from')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_contributed_from" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateCreatedFrom" class="col-sm-5 zb-form-label">${get_res('date_created_from','Date Created from')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_created_from" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
        </div>
    <div class="col-md-6">

            <div class="form-group zb-form-group">
                <label for="input_DateContributedTo" class="col-sm-5 zb-form-label">${get_res('date_contributed_to','Date Contributed to')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_contributed_to" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateCreatedTo" class="col-sm-5 zb-form-label">${get_res('date_created_to','Date Created to')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_created_to" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
        </div>-->
</div>
</%block>

<%block name="modal_script">
<script>
	(function(scope) {
        scope.onResizeDialog = onResizeDialog;
        var entity = {};
        scope.title = "Advanced Search"

        scope.entity = {
            category_id: null,
            sub_category_id:null,
            searchText: null,
            created_by: null,
            contributed_by: null,
            file_format: null,
            num_size_from: null,
            type_size_from: null,
            num_size_to: null,
            type_size_to: null,
            star_rating_from: 1,
            //date_contributed_from: null,
            search_criteria: null,
            //date_contributed: null,
            course_name: null,
            //start_date: null,
            //end_date: null,
            instructor: null,
            star_rating_to: 1,
            //date_contributed_to: null,
            //date_created_to: null,
            //date_created_from: null
            date_valid_from:null,
            date_valid_to:null,
        }

        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }

        loadValueList();

        function loadValueList() {
            services.api("${get_api_key('app_main.api.SYS_ValueList/get_list')}")
                .data({
                    "name": [
                        "LSearchCriterial",
                        "LMSFileFormat",
                        "LMSStarRating",
                        "LMSMemorySize"
                    ]
                })
                .done()
                .then(function(res) {
                debugger
                    scope.cbbSearchCriteria = getValue(res.values, "LSearchCriterial");
                    scope.cbbLMSFileFormat = getValue(res.values, "LMSFileFormat");
                    scope.cbbStarRating = getValue(res.values,"LMSStarRating");
                    scope.cbbMemorySize = getValue(res.values,"LMSMemorySize");
                    scope.$applyAsync();

                    function getValue(response, listName) {
                        return _.findWhere(response, {
                            "list_name": listName
                        }) ? _.findWhere(response, {
                            "list_name": listName
                        }).values : [];
                    }
                })
        }

        function _getDataInitCombobox() {
            scope.$root.$getInitComboboxData(scope, [{
                "key": "${encryptor.get_key('cbb_lmsls_materialfolderfollowparent')}",
                "code": scope.entity.category_id,
                "alias": "$$$cbb_lmsls_materialfolderfollowparent"
            }, {
                "key": "${encryptor.get_key('cbb_lmsls_list_author_material_management')}",
                "code": scope.entity.created_by,
                "alias": "$$$cbb_lmsls_author"
            }, {
                "key": "${encryptor.get_key('lms_cbb_employees_cbcc')}",
                "code": scope.entity.contributed_by,
                "alias": "$$$cbb_lmsls_employees"
            },{
                "key": "${encryptor.get_key('cbb_lmsls_materialfolderfollowparent')}",
                "code": scope.entity.sub_category_id,
                "alias": "$$$cbb_lmsls_submaterialfolderfollowparent"
            },{
                "key":"${encryptor.get_key('cbb_lmsls_course')}",
                "code": scope.entity.course_name,
                "alias": "$$$cbb_lmsls_course",
            }]);
        }
        _getDataInitCombobox();

        function _loadDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText, objAdvanceSearch) {
            scope.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText,
                objAdvanceSearch: objAdvanceSearch

            };
            scope.$root.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText,
                objAdvanceSearch: objAdvanceSearch
            };
            ////setTimeout(function () {
            //if (fnReloadData) {
            //    if (searchText) {
            //        _tableData(iPage, iPageLength, orderBy, searchText, function (data) {
            //            fnReloadData(data);
            //        },objAdvanceSearch);
            //    } else {
            //        _tableData(iPage, iPageLength, orderBy, null, function (data) {
            //            fnReloadData(data);
            //        },objAdvanceSearch);
            //    }
            //}
            ////}, 1000);
        };

        scope.Close = Close;

        function Close(event) {
            $(event.target).closest("#myModal").modal('toggle');
        }

        scope.Search_Click = Search_Click;

        function Search_Click() {
            if (scope.entity.num_size_from && scope.entity.type_size_from && scope.entity.num_size_to && scope.entity.type_size_to) {
                scope.entity.size_from = convert_size(scope.entity.num_size_from, scope.entity.type_size_from);
                scope.entity.size_to = convert_size(scope.entity.num_size_to, scope.entity.type_size_to);
            }
            var data = scope.$parent.$$tableConfig;
            scope.$parent._tableData(data.iPage, data.iPageLength, data.orderBy, scope.entity.searchText, data.fnReloadData, scope.entity);
            scope.$parent.$applyAsync();
        }

        function convert_size(size, type) {
            // Quy đổi qua BYTE
            var _size = 0;
            switch (type) {
                case 'bit':
                case 'BIT':
                    _size = size / 8;
                    break;
                case 'byte':
                case 'BYTE':
                    _size = size;
                    break;
                case 'kb':
                case 'KB':
                    _size = size * 1024;
                    break;
                case 'mb':
                case 'MB':
                    _size = size * 1024 * 1024;
                    break;
                case 'gb':
                case 'GB':
                    _size = size * 1024 * 1024 * 1024; 
                    break;
                case 'tb':
                case 'TB':
                    _size = size * 1024 * 1024 * 1024 * 1024; 
                    break;
                default:
                    _size = size;
            }
            return _size;
        }
    });
</script>
</%block>