
<%!
    #_style="width:200px;"
%>
<%inherit file="../commons/dialog_save_close_button.html"/>

<%block name="modal_body">

        <div class="body-detail-view" >
        <div class="col-sm-4" style="overflow-y: scroll;
                                     height: 100%;" >
          <%include file = "infDetailsLearningMaterialManagement.html" />
        </div>
        <div class="col-sm-4" style="overflow-y: scroll;
                                     height: 100%;">
          <%include file = "relationsDetailsLearningMaterialManagement.html" />
        </div>
        <div class="col-sm-4" style="overflow-y: scroll;
                                     height: 100%;">
          <%include file = "fileDetailsLearningMaterialManagement.html" />
        </div>
        </div>
</%block>

<%block name="modal_script">
<style>
    .modal-content {

    min-width: 130%;
    margin-left: -15%;
    }
</style>
<script>
    (function (scope) {

    currentItem = scope.$parent.currentItem
    scope.title = currentItem['material_id'] +  "_" + currentItem['material_name'];


    //Nút download
    function downloadFile() {
        scope.$root.downLoadFileLearningMaterial();
    }

    //Nút share
    function shareFile() {
         scope.$root.viewShareFileLearningMaterial();
    }


    });
</script>
</%block>