﻿
<%!
    #_style="width:200px;"
    #_height=";max-height:80vh"
%>
<%inherit file="../commons/dialog_share_close.html"/>
ss

<%block name="modal_body">
        <div class="hcs-modal-format">
            <div class="col-md-12 col-sm-12">
            <collapse-box class="zb-form-common" title="${get_res('public_link','Public Link')}" style="margin-left: 20px;">
                <div class="content-view-sharing" style="padding-bottom: 120px;margin-top: 30px;">
                    <div class="col-md-2 col-sm-3 col-3" >
                            <img ng-src="{{$root.url_static}}{{_currentItem.files.file_thumbnail}}" alt="Smiley face" style="padding-top:5px;height:109px;float:right">
                          </div>
                    <div class="col-md-10 col-sm-9 col-9" style="padding: 0px;">
                                <div class="col-md-12" style="padding-bottom: 10px;"><span>{{_currentItem.files.file_name}}</span></div>
                                <div class="col-md-8 col-lg-8 col-sm-8 col-8" style="padding-right: 30px;">
                                    <input id="link-file" type="text" ng-model="link_sharing" name="link-file" class="form-control"  style="margin-bottom: 10px;">
                                    <div>
                                        <img ng-src="{{$root.url_static}}css/icon/img-linkedin.png" ng-click="sharingSocial('linkedin')">
                                        <img ng-src="{{$root.url_static}}css/icon/img-facebook.png" ng-click="sharingSocial('facebook')">
                                        <img ng-src="{{$root.url_static}}css/icon/img-dropbox.png" ng-click="sharingSocial('dropbox')">
                                        <img ng-src="{{$root.url_static}}css/icon/img-youtube.png"  ng-click="sharingSocial('youtube')">
                                        <img ng-src="{{$root.url_static}}css/icon/img-google-plus.png" ng-click="sharingSocial('google')">
                                        <img ng-src="{{$root.url_static}}css/icon/img-twitter.png" ng-click="sharingSocial('twitter')">
                                      </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4 col-4" >
                                    <button class="form-control btn btn-primary" ngclipboard data-clipboard-target="#link-file" type="submit" style="width:70%;" >Copy link</button>
                                </div>
                          </div>
                </div>
            </collapse-box>
        </div>
            <div class="col-md-12 col-sm-12">
                <collapse-box class="zb-form-common" title="${get_res('file_sharing','File Sharing')}" style="margin-left: 20px;">
                    <div class="col-md-6">
                        <div class="form-group zb-form-group">
                            <input-multi-select style="width:100%;" ng-model="sharing.members_group" data-list="cbbLMSLCourse" data-value="caption" data-caption="caption"/>
                        </div>
                        <div class="form-group zb-form-group" ng-repeat="item in sharing.invited_email track by $index" style="padding-top: 28px;">
                            <input-text-icon style="width:100%;" icon="bowtie-icon bowtie-edit-delete" id="inputEmp_Train_Mode_Name" ng-model="item.address" placeholder="Invite (Email Address)" on-click="delEmailAddress($index)"></input-text-icon>
                        </div>
                        <div class="form-group zb-form-group" style="margin:20px 0px;">
                            <a class="relation-content-row" ng-click="addEmailAddress()" style="font-size:11px;cursor: pointer;float:left">Invite new Member</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group zb-form-group">
                            <input-textarea style="margin-left:0px;margin-top:0px" rows="4" ng-model="sharing.message" placeholder="Message"></input-textarea>
                        </div>
                    </div>
                </collapse-box>

                </div>
        </div>
</%block>

<%block name="modal_script">
<style>
  





</style>
<script>
    // var app = angular.module("mainApp", ['ngclipboard']);
    (function (scope) {

        scope.title = scope.$parent.headerTitle;

        scope.sharing = {};
        scope.sharing.members_group = [];
        scope.sharing.invited_email = [{}];

        scope._currentItem = scope.$parent.currentItem;
        scope.urls = scope.$root.url_static;
        scope.link_sharing = '${get_app_url("")}' +  '/download?id=' + scope._currentItem.material_id;
        scope.title = scope.title + " " + scope._currentItem['material_id'] +  "_" + scope._currentItem['material_name'];

        loadValueList();
        function loadValueList() {
            services.api("${get_api_key('app_main.api.SYS_ValueList/get_list')}")
            .data({
                "name": [
                    "LMSLSharing",
                ]
            })
            .done()
            .then(function (res) {
            debugger
                scope.cbbLMSLCourse = JSON.parse(JSON.stringify(getValue(res.values, "LMSLSharing")));

                scope.$applyAsync();
                function getValue(response, listName) {
                    return _.findWhere(response, { "list_name": listName }) ? _.findWhere(response, { "list_name": listName }).values : [];
                }
            })
        }
         
         scope.addEmailAddress = function () {   
                scope.sharing.invited_email.push({});
         }
        scope.delEmailAddress = function (index) {
                
            if (scope.sharing.invited_email.length > 1) {
                scope.sharing.invited_email.splice(index, 1);
                scope.$applyAsync();
            }
        }

        scope.sharingSocial = function (social) {
            var icon = '';
            switch (social) {
                case 'linkedin':
                    icon = 'img-linkedin.png';
                    window.open('https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=' + scope.link_sharing);
                    
                break;
                case 'facebook':
                    icon = 'img-facebook.png';
                    window.open('http://www.facebook.com/sharer.php?u=' + scope.link_sharing);
                    
                    break;
                case 'dropbox':
                    icon = 'img-dropbox.png';
                    window.open('https://www.dropbox.com/s/' + scope.link_sharing);
                    
                    break;
                case 'youtube':
                    icon = 'img-youtube.png';
                    window.open('https://www.youtube.com/watch?v=' + scope.link_sharing);
                    
                    break;
                case 'google':
                     icon = 'img-google-plus.png';
                    window.open('https://plus.google.com/share?url=' + scope.link_sharing);
                    
                    break;
                case 'twitter':
                    icon = 'img-twitter.png';
                    window.open('https://twitter.com/home?status=' + scope.link_sharing);
                    
                break;
            default:

            }
            if (social != null) {
                services.api("${get_api_key('app_main.api.LMSLS_MaterialManagement/update_info_public_sharing_social')}")
                .data({
                    "where": {
                        'id': scope._currentItem['_id'],
                        'sharing_social': icon,
                    }
                })
                .done()
                .then(function (res) {
                    
                })
            } else {
                $msg.message("${get_global_res('Input_Error','Mời chọn')}", rsCheck.errorMsg, function () { });
            }
        }
         //Nút lưu và thoát

        //Nút lưu
        scope.saveNClose = saveNClose;
            
       function saveNClose() {           
            if (scope.sharing != null) {
                services.api("${get_api_key('app_main.api.LMSLS_MaterialManagement/update_info_sharing_file')}")
                .data({
                    "where": {
                        'id': scope._currentItem['_id'],
                        'sharing_info': scope.sharing 
                    }
                })
                .done()
                .then(function (res) {
                    $dialog.closeDialog()
                    $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                })
            } else {
                $msg.message("${get_global_res('Input_Error','Mời nhập comment')}", rsCheck.errorMsg, function () { });
            }
        }


        //Nút thoát
        scope.Close = Close;

        function Close(event) {
            $(event.target).closest("#myModal").modal('toggle');
        }

        scope.onResizeDialog = onResizeDialog;
        var maxHeightDialog = "80vh";
        var isFullSize = false;
        function onResizeDialog(){
            isFullSize = !isFullSize;
            maxHeightDialog = isFullSize ? "100%" : "80vh";
            $dialog.fullScreen();
        }
  
    });
</script>

</%block>