﻿<div class="hcs-container" style="height: 100%">
    <page-sidebar on-add="onAdd" 
                  on-edit="onEdit" 
                  on-delete="onDelete" 
                  on-save="onSave" 
                  on-import="onImport" 
                  on-export="onExport"
                  on-search-press="onSearch"
                  source="mapName" 
                  key-field="function_id" 
                  display-field="default_name" 
                  icon-field="icon" 
                  selected-key="selectedFunction"
                  reload-on-change="true"
                  advanced-search="advancedSearch">
        <site-map>
            <span>{{$root.currentFunction.default_name}}</span>
            <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
            <a data-toggle="collapse" href="#dropdownFunction">
                <span>{{currentFunction.default_name}}</span>
                <span><i class="bowtie-icon bowtie-chevron-down"></i></span>
                <div id="dropdownFunction" class="dropdown-content">
                    <div class="filter">
                        <input-text-icon ng-model="search" style="padding:3px;"/>
                    </div>
                    <div class="dropdown">
                        <p ng-repeat="f in mapName | filter : search" ng-class="{focus : selectedFunction === f.function_id}" ng-click="selectFunc($event, f.function_id)">{{f.custom_name ? f.default_name : f.custom_name}}</p>
                    </div>
                </div>
            </a>

        </site-map>
        <extend-toolbar ng-if="$root.extendToolbar">
            <div style="display: grid; grid-template-columns: {{$root.isDisplay ? 'auto 1fr auto' : '1fr auto'}} ">
                <div style="float: left;margin-right:5px;" ng-if="$root.isDisplay">
                    <button class="zb-btn" ng-click="onDisplayListData()">
                        <i class="bowtie-icon bowtie-editor-list-bullet"></i>
                    </button>
                    <button class="zb-btn" ng-click="onDisplayGridData()">
                        <i class="bowtie-icon bowtie-view-grid"></i>
                    </button>
                </div>
                <!--<div class="col-md-6" style="padding-right: 0; top: 2px;"   >-->
                     <!--<div class="hcs-left-side-department-tree-tool-bar-div-search" ng-if="$root.isDisplayBasicButton">-->
                        <!--<input class="hcs-left-side-department-tree-tool-bar-input-search" ng-model="objSearch.$$$modelSearch">-->
                        <!--<div class="hcs-left-side-department-tree-tool-bar-input-search-bot"></div>-->
                        <!--<div class="hcs-left-side-department-tree-tool-bar-input-search-bot-icon" ng-click="onSearchText()">-->
                            <!--<i class="glyphicon glyphicon-search"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <input-text-icon id="tableSearchText" on-click="objSearch.onSearch" ng-model="objSearch.$$$modelSearch" ng-if="$root.isDisplayBasicButton"></input-text-icon>
                <div style="display: flex;" >
                    <button class="zb-btn" ng-click="viewAdvandceSearchLearningMaterialManagerment()" ng-if="$root.isDisplayManagermentButton" style="margin-right: 5px;">
                            <i class="bowtie-icon bowtie-search-filter"></i>
                    </button>
                    <div class="dropdown" ng-if="$root.isDisplayMoreButton">
                        <button class="zb-btn dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="bowtie-ellipsis bowtie-icon"></i>
                        </button>
                        <ul class="dropdown-menu btn-menu">
                            <ng-container ng-if="$root.isDisplayManagermentButton">
                                <li ng-click="viewDetailsLearningMaterial()">
                                    <button class="zb-btn border-0">
                                        <i class="bowtie-icon bowtie-ellipsis"></i>
                                    </button>
                                    <span>${get_res('view_detail','Details')}</span>
                                </li>
                            <li ng-click="editLearningMaterial()">
                                <button class="zb-btn border-0">
                                    <i class="bowtie-icon bowtie-watch-eye-fill"></i>
                                </button>
                                <span>${get_res('view_info','View')}</span>
                            </li>
                            <li ng-click="downLoadFileLearningMaterial()">
                                <button class="zb-btn">
                                    <i class="bowtie-icon bowtie-transfer-download"></i>
                                </button>
                                <span>${get_res('view_download_file','Download file')}</span>
                            </li>
                            <li ng-click="viewShareFileLearningMaterial()">
                                <button class="zb-btn border-0">
                                    <i class="bowtie-icon bowtie-share"></i>
                                </button>
                                <span>${get_res('view_share_file','Share file')}</span>
                            </li>
                            <li ng-click="viewPermissionLearningMaterialManagerment()">
                                <button class="zb-btn border-0">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </button>
                                <span>${get_res('view_assign_permission','Assign Permissions')}</span>
                            </li>
                            <li ng-click="viewHistoryLearningMaterial()">
                                <button class="zb-btn border-0">
                                    <i class="bowtie-icon bowtie-navigate-history"></i>
                                </button>
                                <span>${get_res('view_history','View History')}</span>
                            </li>
                            </ng-container>
                            <ng-container ng-if="$root.isDisplayFoldertButton">
                                <li ng-click="editLearningMaterial()">
                                    <button class="zb-btn border-0">
                                        <i class="bowtie-icon bowtie-edit-outline"></i>
                                    </button>
                                <span>${get_res('view_edit','Edit')}</span>
                                </li>
                            </ng-container>
                            <li ng-click="delOneLearningMaterial()">
                                <button class="zb-btn border-0">
                                    <i class="bowtie-icon bowtie-trash"></i>
                                </button>
                                <span>${get_res('view_delete','Delete')}</span>
                            </li>

                        </ul>
                    </div>
                    <div ng-if="$root.isDisplayBasicButton" style="padding-left: 5px;">
                    <button class="zb-btn zb-btn-o-green" ng-click="addLearningMaterial()">
                            <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
                    <ng-container ng-if="$root.isDisplayManagermentButton">
                        <button class="zb-btn" ng-click="downLoadFileLearningMaterial()">
                            <i class="bowtie-icon bowtie-transfer-download"></i>
                        </button>
                        <button class="zb-btn" ng-click="viewShareFileLearningMaterial()">
                            <i class="bowtie-icon bowtie-share"></i>
                        </button>
                    </ng-container>
                    <button class="zb-btn zb-btn-o-red" ng-click="delLearningMaterial()">
                            <i class="bowtie-icon bowtie-trash"></i>
                    </button>

                    </div>
                    <div class="col-md-6" style="padding-right: 0; top: 2px;" ng-if="!$root.isDisplayBasicButton">
                    <input-text-icon id="tableSearchText" on-click="objSearch.onSearch" ng-model="objSearch.$$$modelSearch"></input-text-icon>
                     <!--<div class="hcs-left-side-department-tree-tool-bar-div-search">-->
                        <!--<input class="hcs-left-side-department-tree-tool-bar-input-search" ng-model="objSearch.$$$modelSearch">-->
                        <!--<div class="hcs-left-side-department-tree-tool-bar-input-search-bot"></div>-->
                        <!--<div class="hcs-left-side-department-tree-tool-bar-input-search-bot-icon" ng-click="onSearchText()">-->
                            <!--<i class="glyphicon glyphicon-search"></i>-->
                        <!--</div>-->
                        <!--</div>-->
                     </div>
                </div>
            </div>
        </extend-toolbar>
        <content>
            <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </content>
    </page-sidebar>
</div>
<script>
    <%include file="../scripts/learning_material.js"/>
</script>
<style>
.zb-collapse-box.zb-form-common {
    height:auto;
}
</style>
