<style>
    .status-radio {
        height:8px;width:8px;
        border-radius:50%;
        display:inline-block;margin:1px 5px 0 0;
    }

    .status-text {
        width:15px;
        height:17px;
        font-weight:900;
    }
</style>
<div class="hcs-container" style="height: 100%">
    <page-sidebar on-add="onAdd"
                  on-edit="onEdit"
                  on-delete="onDelete"
                  on-save="onSave"
                  on-import="onImport"
                  on-export="onExport"
                  on-search-press="onSearch"
                  source="mapName"
                  key-field="function_id"
                  display-field="default_name"
                  icon-field="icon"
                  selected-key="selectedFunction"
                  reload-on-change="true"
                  advanced-search="advancedSearch">
        <site-map>
            <a><span>{{$root.currentFunction.default_name}}</span></a>
            <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
            <span>{{currentFunction.default_name}}</span></site-map>

        <extend-toolbar>
                <div style="display: grid; grid-template-columns: 1fr auto">
                    <input-text-icon icon="bowtie-icon bowtie-search" on-click="onSearch"></input-text-icon>
                    <div>
                        <button class="zb-btn zb-btn-o-green" ng-click="addTopic()">
                            <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
                        <button class="zb-btn zb-btn-o-blue" ng-click="editTopic()">
                                <i class="bowtie-icon bowtie-edit-outline"></i>
                            </button>
                        <button class="zb-btn zb-btn-o-red" ng-click="delTopic()">
                                <i class="bowtie-icon bowtie-trash"></i>
                        </button>
                        <button class="zb-btn dropdown-toggle" ng-click="approveTopic()" ng-if="$root.isApprove" >
                            <i class="bowtie-icon bowtie-check "></i>
                        </button>
                        <button class="zb-btn" ng-click="pinTopic()">
                                <i class="bowtie-icon bowtie-pin"></i>
                        </button>
                        <button class="zb-btn" ng-click="blockTopic()">
                            <i class="bowtie-icon bowtie-security-lock"></i>
                    </button>
                    </div>
                </div>
         </extend-toolbar>

        <content>
            <div c-template url="${get_app_url('')}/pages/{{$partialpage}}"
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </content>
    </page-sidebar>
</div>
<script>
    <%include file="../scripts/lms_topic.js"/>
</script>
