<div class="tile">
    <div class="btn-toolbar pull-right" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="$root.$dialog($id).params(filter).ok(loadData).url(dialog_add_app_url).done()">${get_app_res("Add app")}</button>
        </div>
    </div>
    <table class="table table-bordered table-hover">
    	<thead>
    		<tr>
    			<th>
                    ${get_app_res("Application")}
                </th>
                <th>
                    ${get_app_res("Total views")}
                </th>
                <th>
                    ${get_app_res("Description")}
                </th>
                <th>
                    ${get_app_res("Created on")}
                </th>
                <th>
                    ${get_app_res("Created by")}
                </th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="p in data">
    			<td>{{p.App}}</td>
                <td>
                    <a href="#{{url().param('page',app_page).param('app',p.App).url()}}">
                        {{p.TotalViews}}
                    </a>

                </td>
                <td>{{p.Description}}</td>
                <td>{{p.CreatedOn}}</td>
                <td>{{p.CreatedBy}}</td>
    		</tr>
    	</tbody>
    </table>

</div>
<script>
    (function(scope){

        scope.url=$url
        scope.filter=$url().data;
        scope.dialog_add_app_url='${get_app_url("pages/privileges/lookup_apps")}';
        scope.app_page='pages/privileges/views';

        scope.loadData=function(){
            scope.$ws.api('${get_api_key("api.privileges/get_list_of_applications")}')
            .data({
                filter:$url().data
            })
            .done()
            .then(function(res){
                scope.data=res;
                scope.$applyAsync();
            });
        };
        scope.loadData();
    });
</script>