<div class="tile">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
                <h4>${get_app_res("Select schema")}&nbsp;</h4>
            </div>
            <div class="btn-group">
                <select class="form-control" ng-model="selectedSchema" ng-change="loadData()">
                	<option value="{{p.schema}}" ng-repeat="p in schemaList">{{p.schema}}</option>
                </select>&nbsp;
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="$root.$dialog($id).ok(loadData).params({schema:selectedSchema}).url(userDialogUrl).done()">${get_app_res("Create a user")}</button>
            </div>
        </div>
	</div>
</div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		&nbsp;
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		<table class="table table-bordered table-hover">
    			<thead>
    				<tr>
    					<th>${get_app_res("Username")}</th>
						<th>${get_app_res("Email")}</th>
						<th>${get_app_res("First Name")}</th>
						<th>${get_app_res("Last Name")}</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="p in data.items">
    					<td>{{p.username}}</td>
						<td>{{p.email}}</td>
						<td>{{p.firstName}}</td>
						<td>{{p.lastName}}</td>
    				</tr>
    			</tbody>
    		</table>

    	</div>
    </div>
</div>
<script>
    (function(scope){
    	scope.userDialogUrl='${get_app_url("dialogs/privileges/user")}';
        scope.get_list_of_schema=function(){
            scope.$ws.api('${get_api_key("api.privileges/get_list_of_schema")}')
            .done()
            .then(function(res){
                scope.schemaList=res;
                if(scope.schemaList.length>0){
                    scope.selectedSchema=scope.schemaList[0];
                }
                scope.$applyAsync();
                scope.loadData();

            });
        };
        scope.get_list_of_schema();
        scope.loadData=function(){
             scope.$ws.api('${get_api_key("api.privileges/get_list_of_users_in_schema")}')
             .data({
             	schema:scope.selectedSchema
             })
            .done()
            .then(function(res){
                scope.data=res;
                scope.$applyAsync();

            });
        };
    });
</script>