<div class="tile">
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-toolbar pull-right" role="toolbar">

                <div class="btn-group" ng-if="!filter.schema">
                    <div class="row">
                    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    		<select name="name" id="inputID" class="form-control">
                    			<option value=""> -- Select One -- </option>
                    		</select>
                    	</div>
                    </div>

                </div>
                <div class="btn-group">
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="$root.$dialog($id).ok(loadData).params(filter).url(url_dialog_add_users).done()">${get_app_res("Add user")}</button>
                </div>
            </div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		&nbsp;
    	</div>
    </div>
    <table class="table table-bordered table-hover">
    	<thead>
    		<tr>
    			<th>${get_app_res("Username")}</th>
                <th>${get_app_res("Description")}</th>
                <th>${get_app_res("Created on")}</th>
                <th>${get_app_res("Created by")}</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="p in data.items">
    			<td>{{p.username}}</td>
                <td>{{p.description}}</td>
                <td>{{p.createdOn}}</td>
                <td>{{p.createdBy}}</td>
    		</tr>
    	</tbody>
    </table>
</div>
<script>
    (function(scope){
        scope.filter=$url().data;
        scope.url_dialog_add_users='${get_app_url("pages/privileges/lookup_users")}';
        scope.loadData=function(){
            scope.$ws.api('${get_api_key("api.privileges/get_list_of_users_in_role")}')
            .data({
                filter:$url().data
            }).done().then(function(res){
                scope.data=res;
                scope.$applyAsync();
            });

        };
        scope.loadData();
    });
</script>