<div class="tile">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="$root.$dialog($id).ok(loadData).params(params).url(url_dialog_add_views).done()">${get_app_res("Add views")}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		&nbsp;
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		<table class="table table-bordered table-hover">
    			<thead>
    				<tr>
    					<th>${get_app_res("View")}</th>
                        <th>${get_app_res("Total users")}</th>
                        <td>${get_app_res("Description")}</td>
                        <td>${get_app_res("Created on")}</td>
                        <td>${get_app_res("Created by")}</td>

    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="p in data">
    					<td>{{p.view}}</td>
                        <td>
                            <a href="#{{url().param('page','pages/privileges/users').param('view',p.view).url()}}">

                            {{p.totalUser}}
                            </a>
                        </td>
                        <td>{{p.description}}</td>
                        <td>{{p.createdOn}}</td>
                        <td>{{p.createdBy}}</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</div>
<script>
    (function(scope){
        scope.selectedApp=$url().data.app;
        scope.selectedRole=$url().data.role;
        scope.selectedSchema=$url().data.schema;
        scope.params=$url().data;
        scope.url=$url
        scope.url_dialog_add_views='${get_app_url("pages/privileges/lookup_views")}';
        scope.loadData=function(){
            scope.$ws.api('${get_api_key("api.privileges/get_list_of_views")}')
            .data({
                filter:$url().data

            })
            .done().then(function(res){
                scope.data=res;
                scope.$applyAsync();
            });
        }
        scope.loadData();
        scope.$applyAsync();
    });
</script>