﻿<div view-id="${register_view()}" class="tab-pane" style="padding-right:unset; height: 100%; overflow-y:hidden; overflow:auto; background-color:#fff;">
    <!--<nav-tabs min-height="82vh" max-height="82vh">-->
        <div class="tabbable-panel hcs-format">
             <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="col-md-6 col-sm-6 col-xs-12">
                        <collapse-box class="zb-form-common" title="${get_res('aproval_period','Kỳ đánh giá')}">
                             <div class="col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group zb-form-group">
                                     <!--Kỳ-->
                                     <label class="col-sm-4 col-xs-4 zb-form-label">${get_res('apr_period','Kỳ')}</label>
                                     <div class="col-sm-8 col-xs-8">
                                         <input-select
                                           data-list="cbbApprovalPeriod"
                                           ng-model="entity.apr_period"
                                           value="value"
                                           caption="caption"
                                           ng-disabled="__mode === 2 ? true : false"
                                           required/>
                                     </div>
                                 </div>
                                 <div class="form-group zb-form-group">
                                     <!--Năm-->
                                     <label for="inputLastName" class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('apr_year','Năm')}</label>
                                     <div class="col-md-8 col-sm-8 col-xs-8">
                                         <year-picker ng-model="entity.apr_year" ng-disabled="__mode === 2 ? true : false" required/>
                                     </div>
                                 </div>
                             </div>
                         </collapse-box>
                    </div>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                        <collapse-box class="zb-form-common" title="${get_res('give_target','Giao chỉ tiêu')}">
                             <div class="col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group zb-form-group">
                                     <!--Giao chỉ tiêu từ-->
                                     <label class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('give_target_from','Từ')}</label>
                                     <div class="col-md-8 col-sm-8 col-xs-8">
                                           <date-picker ng-model="entity.give_target_from" data-format="{{$root.systemConfig.date_format}}"/>
                                     </div>
                                 </div>
                                 <div class="form-group zb-form-group">
                                     <!--Giao chỉ tiêu đến-->
                                     <label for="inputLastName" class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('give_terget_to','Đến')}</label>
                                     <div class="col-md-8 col-sm-8 col-xs-8">
                                        <date-picker ng-model="entity.give_target_to"  data-format="{{$root.systemConfig.date_format}}"/>
                                     </div>
                                 </div>
                             </div>
                         </collapse-box>
                    </div>
            </div>

             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                        <collapse-box class="zb-form-common" title="${get_res('review_mid_period','Xem xét giữa kỳ')}">
                             <div class="col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group zb-form-group">
                                     <!--Giao chỉ tiêu từ-->
                                     <label class="col-md-4 col-sm-4 col-xs-4  zb-form-label">${get_res('review_mid_from','Từ')}</label>
                                     <div class="col-md-8 col-sm-8 col-xs-8">
                                           <date-picker ng-model="entity.review_mid_from"  data-format="{{$root.systemConfig.date_format}}"/>
                                     </div>
                                 </div>
                                 <div class="form-group zb-form-group">
                                     <!--Giao chỉ tiêu đến-->
                                     <label for="inputLastName" class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('review_mid_to','Đến')}</label>
                                     <div class="col-md-8 col-sm-8 col-xs-8">
                                        <date-picker ng-model="entity.review_mid_to"  data-format="{{$root.systemConfig.date_format}}"/>
                                     </div>
                                 </div>
                             </div>
                         </collapse-box>
                    </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                        <collapse-box class="zb-form-common" title="${get_res('approval_mid_period','Xét duyệt giữa kỳ')}">
                             <div class="col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group zb-form-group">
                                     <!--Giao chỉ tiêu từ-->
                                     <label class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('approval_mid_from','Từ')}</label>
                                     <div class="col-md-8 col-sm-8 col-xs-8">
                                           <date-picker ng-model="entity.approval_mid_from"  data-format="{{$root.systemConfig.date_format}}"/>
                                     </div>
                                 </div>
                                 <div class="form-group zb-form-group">
                                     <!--Giao chỉ tiêu đến-->
                                     <label for="inputLastName" class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('approval_mid_to','Đến')}</label>
                                     <div class="col-md-8 col-sm-8 col-xs-8">
                                        <date-picker ng-model="entity.approval_mid_to"  data-format="{{$root.systemConfig.date_format}}"/>
                                     </div>
                                 </div>
                             </div>
                         </collapse-box>
                    </div>
            </div>

             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                            <collapse-box class="zb-form-common" title="${get_res('emp_final_approval','Nhân viên đánh giá cuối kỳ')}">
                                 <div class="col-md-12 col-sm-12 col-xs-12">
                                     <div class="form-group zb-form-group">
                                         <!--Giao chỉ tiêu từ-->
                                         <label class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('emp_final_from','Từ')}</label>
                                         <div class="col-md-8 col-sm-8 col-xs-8">
                                               <date-picker ng-model="entity.emp_final_from"  data-format="{{$root.systemConfig.date_format}}"/>
                                         </div>
                                     </div>
                                     <div class="form-group zb-form-group">
                                         <!--Giao chỉ tiêu đến-->
                                         <label for="inputLastName" class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('emp_final_to','Đến')}</label>
                                         <div class="col-md-8 col-sm-8 col-xs-8">
                                            <date-picker ng-model="entity.emp_final_to"  data-format="{{$root.systemConfig.date_format}}"/>
                                         </div>
                                     </div>
                                 </div>
                             </collapse-box>
                            <collapse-box class="zb-form-common" title="${get_res('approval_final_period','Xét duyệt cuối kỳ')}">
                                 <div class="col-md-12 col-sm-12 col-xs-12">
                                     <div class="form-group zb-form-group">
                                         <!--Giao chỉ tiêu từ-->
                                         <label class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('approval_final_from','Từ')}</label>
                                         <div class="col-md-8 col-sm-8 col-xs-8">
                                               <date-picker ng-model="entity.approval_final_from"  data-format="{{$root.systemConfig.date_format}}"/>
                                         </div>
                                     </div>
                                     <div class="form-group zb-form-group">
                                         <!--Giao chỉ tiêu đến-->
                                         <label for="inputLastName" class="col-md-4 col-sm-4 col-xs-4 zb-form-label">${get_res('approval_final_to','Đến')}</label>
                                         <div class="col-md-8 col-sm-8 col-xs-8">
                                            <date-picker ng-model="entity.approval_final_to"  data-format="{{$root.systemConfig.date_format}}"/>
                                         </div>
                                     </div>
                                 </div>
                             </collapse-box>
                    </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                        <collapse-box class="zb-form-common"
                                      title="${get_global_res('note','Ghi chú')}">
                            <div class="form-group zb-form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input-textarea rows="5" ng-model="entity.note" style="padding-bottom:31px;"></input-textarea>
                                </div>
                            </div>
                            <div class="form-group zb-form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="DisplayInfo" class="col-md-3 col-sm-3 col-xs-3 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input-text value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true"/>
                                    </div>
                                </div>
                            </div>
                        </collapse-box>
                    </div>
             </div>
        </div>
</div>
<script>
<%include file = "scripts/aprPeriodInfo.js" />
</script>