<div class="hcs-right-side-department-list-tool-bar">
    <div class="zb-right-content pull-right" style="margin-top: -35px;margin-right: 245px;">
        </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12 no-padding" style="height: 100%;">
    <collapse-box class="zb-datatable" title="${get_res('Department_Group_list','Danh sách phòng ban')}">
        <div class="col-md-12 no-padding" style="height: 100%;">
            <tree-table style="overflow-y:auto;height: 100%;" class="scollable-table" data-source="$$tableTree.dataTableTree" data-fields="$$tableTree.tableFields"
                    display-field="department_name"
                    display-name="Bộ phận"
                    parent-field="parent_code" key-field="department_code"
                    multi-select="$$tableTree.treeMultiSelect" select-mode="$$tableTree.treeSelectMode"
                    on-select="$$tableTree.selectTreeNode"
                    current-node="$$tableTree.treeCurrentNode"
                    selected-nodes="$$tableTree.treeSelectedNodes"
                    selected-root-nodes="$$tableTree.treeSelectedRootNodes"
                    search-text="$$tableTree.treeSearchText"
                    checked-field="is_selected"
                    disabled="$$tableTree.treeDisabled"
                    multi-select = "mode == 1 ? true : false"
                    format-main-column="$$tableTree.formatMainColumn"/>
                    
        </div>
    </collapse-box>
</div>
<script>
    <%include file ="scripts/ratingLevel.js"/>
</script>